html{
	font-family: "黑体",Arial;
}

.fullpage-wrapper{
	padding-top: 70px;
}

#header{
	height:70px;
	background-color:#3aa2fe;
	position: fixed;
	top:0;
	left: 0;
	z-index: 10;
	width: 100%;
}

#header .logo img{
	height:41px;
	margin-top: 15px;
}

#header .label{
	float: right;
	margin-right: 25px;
	height: 70px;
	line-height: 70px;
}

#header .label a{
	color:#DDEEF7;
	font-size: 16px;	
	text-decoration: none;
}



#nav{
	position: fixed;
	width: 120px;
	top:80px;
	left: 40px;
	z-index: 10;
}
#nav ul{
	padding: 0;
}

#nav li{
	padding: 20px 0;
}


#nav li a{
	font-size: 16px;
	color:#747474;
	line-height: 1;
	text-decoration: none;	
}


#nav li.on a{
	font-size: 20px;
	color:#3aa2fe;

}

.section .content{
	display: table;
	height: 100%;
	width: 100%;
}

.section .left,.section .right{
	width: 50%;
	display: table-cell;
	vertical-align: middle;
	height: 100%;
	text-align:right;
}

.app-store .right{
	background-color: #ebf5ff;
}

.game-center .right{
	background-color: #fff7f7;
}

.browser .right{
	background-color: #ebf3ff;
}

.left .contriner{
    margin:0 auto;
	width: 295px;
	text-align: center;
}

.contriner .icon{
	width: 200px;
	margin-left: 71px;
}

.contriner .comment{
	text-align: left;
	font-size: 14px;
	line-height: 1.8;
	color:#868691;
	margin-bottom: 50px;
}

.contriner .download{
	display: inline-block;
	width: 142px;
	height: 50px;
	border-radius: 10px;
	font-size: 18px;
	line-height: 50px;
	color:#ffffff;
	background-color: #3fa5ff;
	text-decoration: none;
	margin-bottom: 40px;
}

.contriner .download:hover{
	background-color: #007cea;
}

.right .figure{
	height: 80%;
	position: relative;
}

.right .figure img{
	position: absolute;
	top:10%;
	width: auto;
	height: 60%;
	right:-800px;
	z-index: 9;
    -webkit-transition: all 0.7s ease-out 1.4s;
    -moz-transition: all 0.7s ease-out 1.4s;
    -ms-transition: all 0.7s ease-out 1.4s;
    transition: all 0.7s ease-out 1.4s;
}


.right .figure img.middle{
	top:25%;
	z-index: 8;
    -webkit-transition: all 0.7s ease-out .7s;
    -moz-transition:all 0.7s ease-out .7s;
    -ms-transition:all 0.7s ease-out .7s;
    transition:all 0.7s ease-out .7s;
}

.right .figure img.bottom{
	top:40%;
	z-index: 7;
    -webkit-transition: all 0.7s ease-out 0s;
    -moz-transition: all 0.7s ease-out 0s;
    -ms-transition: all 0.7s ease-out 0s;
    transition: all 0.7s ease-out 0s;
}


 .transform .right img{
 	right:-122px;
 	left:inherit;
}
