<!DOCTYPE html>
<html>
<head lang="zh-CN">
    <meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="format-detection" content="telephone=no,address=no,email=no"/>
    <meta name="mobileOptimized" content="width"/>
    <meta name="handheldFriendly" content="true"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <title>网址大全</title>

    <link rel="stylesheet" href="./assets/css/normalize.css"/>
    <link rel="stylesheet" href="./assets/css/style.css"/>


    <script src="./assets/js/project/global.js"></script>

</head>
<body>




<!--<section class="banner">
    <img src="./assets/image/temp/banner.png" />
</section>

<section class="category-module">
    <section class="famous-site">
        <div class="wrapper">
            <ul>
                <li><a href="//www.baidu.com"> </a><img src="./assets/image/temp/baidu.png" /><span>百度</span></li>
                <li><a href="//www.taobao.com"> </a><img src="./assets/image/temp/taobao.png" /><span>淘宝</span></li>
                <li class="light"><a href="//www.baidu.com"> </a><img src="./assets/image/temp/baidu.png" /><span>百度</span></li>
                <li><a href="//www.taobao.com"> </a><img src="./assets/image/temp/taobao.png" /><span>淘宝宝</span></li>
                <li><a href="//www.taobao.com"></a><img src="./assets/image/temp/taobao.png" /><span>淘宝</span></li>
                <li><a href="//www.baidu.com"></a><img src="./assets/image/temp/baidu.png" /><span>百度</span></li>
                <li class="light"><a href="//www.taobao.com"></a><img src="./assets/image/temp/taobao.png" /><span>淘宝宝</span></li>
                <li><a href="//www.baidu.com"></a><img src="./assets/image/temp/baidu.png" /><span>百度</span></li>
                <li><a href="//www.baidu.com"></a><img src="./assets/image/temp/baidu.png" /><span>百度</span></li>
                <li><a href="#"></a><img src="./assets/image/temp/taobao.png" /><span>淘宝</span></li>
                <li><a href="#"></a><img src="./assets/image/temp/baidu.png" /><span>百度</span></li>
                <li><a href="#"></a><img src="./assets/image/temp/taobao.png" /><span>淘宝宝</span></li>
                <li><a href="#"></a><img src="./assets/image/temp/taobao.png" /><span>淘宝</span></li>
                <li><a href="#"></a><img src="./assets/image/temp/baidu.png" /><span>百度</span></li>
                <li><a href="#"></a><img src="./assets/image/temp/taobao.png" /><span>淘宝</span></li>
                <li><a href="#"></a><img src="./assets/image/temp/baidu.png" /><span>百度</span></li>
            </ul>
        </div>
    </section>
</section>

<section class="ad-img">
    <a href="./life.html"><img src="./assets/image/temp/adv.png" /></a>
    <i class="icon-close"></i>
</section>


<section class="category-module">
    <h2 class="title"><img src="./assets/image/temp/icon-comprehensive.png">综合资讯</h2>
    <ul class="item-list">
        <li class="item">
            <dl class="line">
                <dt><a href="#">[新闻]</a></dt>
                <dd><a href="#">人民</a></dd>
                <dd><a href="#">中新</a></dd>
                <dd><a href="#">央视</a></dd>
                <dd><a href="#">环球</a></dd>
            </dl>
        </li>
        <li class="item">
            <dl class="line">
                <dt><a href="#">[新闻]</a></dt>
                <dd><a href="#">人民</a></dd>
                <dd><a href="#">中中新</a></dd>
                <dd><a href="#">央视</a></dd>
                <dd class="light"><a href="#">环球</a></dd>
            </dl>
            <dl class="line extend">
                <dt> </dt>
                <dd><a href="#">人民网</a></dd>
                <dd><a href="#">中新</a></dd>
                <dd><a href="#">央视</a></dd>
                <dd><a href="#">环球网</a></dd>
            </dl>
            <i class="icon-extend"></i>
        </li>
        <li class="item">
            <dl class="line">
                <dt><a href="#">[新闻]</a></dt>
                <dd><a href="#">人民</a></dd>
                <dd><a href="#">中新中</a></dd>
                <dd><a href="#">央视央</a></dd>
                <dd><a href="#">环球</a></dd>
            </dl>
        </li>
    </ul>
</section>

<section class="category-module">
    <h2 class="title"><img src="./assets/image/temp/icon-life.png">生活服务</h2>
    <section class="text-normal">
        <ul class="item-list">
            <li class="item">
                <dl class="line">
                    <dt><a href="#">[新闻]</a></dt>
                    <dd><a href="#">人民</a></dd>
                    <dd><a href="#">中新</a></dd>
                    <dd><a href="#">央视</a></dd>
                    <dd><a href="#">环球</a></dd>
                </dl>
            </li>
            <li class="item">
                <dl class="line">
                    <dt><a href="#">[新闻]</a></dt>
                    <dd><a href="#">人民</a></dd>
                    <dd><a href="#">中中新</a></dd>
                    <dd><a href="#">央视</a></dd>
                    <dd><a href="#">环球网</a></dd>
                </dl>
                <dl class="line extend">
                    <dt> </dt>
                    <dd><a href="#">人民网</a></dd>
                    <dd><a href="#">中新</a></dd>
                    <dd><a href="#">央视</a></dd>
                    <dd><a href="#">环球</a></dd>
                </dl>
                <i class="icon-extend"></i>
            </li>
            <li class="item">
                <dl class="line">
                    <dt><a href="#">[新闻]</a></dt>
                    <dd><a href="#">人民</a></dd>
                    <dd><a href="#">中新中</a></dd>
                    <dd><a href="#">央视央</a></dd>
                    <dd><a href="#">环球</a></dd>
                </dl>
            </li>
        </ul>
        
    </section>
    

    <section class="img-text-module">
        <ul>
            <li>
                <img src="./assets/image/temp/train.png">
                <div>火车票</div>
                <a href="//m.xyz.cn"></a>
            </li>
            <li>
                <img src="./assets/image/temp/plane.png">
                <div>机票</div>
                <a href="//m.xyz.cn"></a>
            </li>
            <li>
                <img src="./assets/image/temp/money.png">
                <div>话费充值</div>
                <a href="//m.xyz.cn"></a>
            </li>
            <li>
                <img src="./assets/image/temp/film.png">
                <div>电影</div>
                <a href="//m.xyz.cn"></a>
            </li>
            <li>
                <img src="./assets/image/temp/house.png">
                <div>家政</div>
                <a href="//m.xyz.cn"></a>
            </li>
            <li>
                <img src="./assets/image/temp/group.png">
                <div>团购</div>
                <a href="//m.xyz.cn"></a>
            </li>
            <li>
                <img src="./assets/image/temp/snack.png">
                <div>外卖</div>
                <a href="//m.xyz.cn"></a>
            </li>
            <li>
                <img src="./assets/image/temp/delivery.png">
                <div>快递</div>
                <a href="//m.xyz.cn"></a>
            </li>
            <li>
                <img src="./assets/image/temp/hotel.png">
                <div>酒店</div>
                <a href="//m.xyz.cn"></a>
            </li>
            <li>
                <img src="./assets/image/temp/lottery.png">
                <div>彩票</div>
                <a href="//m.xyz.cn"></a>
            </li>
        </ul>
    </section>

</section>



<section class="category-module">
    <h2 class="title"><img src="./assets/image/temp/icon-shop.png">购物商城</h2>
    <section class="text-normal">
    <ul class="item-list">
        <li class="item">
            <dl class="line">
                <dt><a href="#">[新闻]</a></dt>
                <dd><a href="#">人民</a></dd>
                <dd><a href="#">中新</a></dd>
                <dd><a href="#">央视</a></dd>
                <dd><a href="#">环球</a></dd>
            </dl>
        </li>
        <li class="item">
            <dl class="line">
                <dt><a href="#">[新闻]</a></dt>
                <dd><a href="#">人民</a></dd>
                <dd class="light"><a href="#">中中新</a></dd>
                <dd><a href="#">央视</a></dd>
                <dd><a href="#">环球网</a></dd>
            </dl>
            <dl class="line extend">
                <dt> </dt>
                <dd><a href="#">人民网</a></dd>
                <dd><a href="#">中新</a></dd>
                <dd><a href="#">央视</a></dd>
                <dd><a href="#">环球</a></dd>
            </dl>
            <i class="icon-extend"></i>
        </li>
    </ul>
    </section>
    <section class="img-module">
        <div class="wrapper">
            <ul>
                <li><a href="#"><img src="./assets/image/temp/img-1.jpg" /></a></li>
                <li><a href="#"><img src="./assets/image/temp/img-2.jpg" /></a></li>
                <li><a href="#"><img src="./assets/image/temp/img-3.jpg" /></a></li>
                <li><a href="#"><img src="./assets/image/temp/img-4.jpg" /></a></li>
            </ul>        
        </div>
    </section>

    <section class="hot-module">
        <div class="wrapper">
            <ul>
                <li><img src="./assets/image/temp/hot-orange.png">双十一限时会场</li>
                <li><img src="./assets/image/temp/hot-blue.png">双十一限时会场</li>
                <li><img src="./assets/image/temp/hot-purple.png">双十一限时会场</li>
            </ul>
        </div>
    </section>
</section>


<section class="category-module">
    <h2 class="title"><img src="./assets/image/temp/icon-entertainment.png">休闲娱乐</h2>
    <section class="text-normal">
        <ul class="item-list">
            <li class="item">
                <dl class="line">
                    <dt><a href="#">[新闻]</a></dt>
                    <dd><a href="#">人民</a></dd>
                    <dd><a href="#">中新</a></dd>
                    <dd><a href="#">央视</a></dd>
                    <dd><a href="#">环球</a></dd>
                </dl>
            </li>
            <li class="item">
                <dl class="line">
                    <dt><a href="#">[新闻]</a></dt>
                    <dd><a href="#">人民</a></dd>
                    <dd><a href="#">中中新</a></dd>
                    <dd><a href="#">央视</a></dd>
                    <dd><a href="#">环球网</a></dd>
                </dl>
                <dl class="line extend">
                    <dt> </dt>
                    <dd><a href="#">人民网</a></dd>
                    <dd><a href="#">中新</a></dd>
                    <dd><a href="#">央视</a></dd>
                    <dd><a href="#">环球</a></dd>
                </dl>
                <i class="icon-extend"></i>
            </li>
        </ul>
    </section>
</section>-->

<script id="j_template" type="text/html">
    

<section class="banner">
    <img src="{{bgData.url}}" />
</section>

<section class="famous-site">
    <div class="wrapper">
        <ul>
            {{each starSiteData as ssd i}}
            <li><a data-href="{{ssd.url}}"> </a><img src="{{ssd.icon}}" /><span>{{ssd.name}}</span></li>
            {{/each}}
        </ul>
    </div>
</section>

{{if adverImageData.length}}
    <section class="category-module">
        <section adv-id="{{adverImageData[0].id}}" class="ad-img">
            <a data-href="{{adverImageData[0].url}}"><img src="{{adverImageData[0].image}}" /></a>
            <i class="icon-close"></i>
        </section>
    </section>
{{/if}}


{{each siteNavigationData as snd}}
    
<section class="category-module">
    {{if snd.name}}
        <h2 class="title">
            {{if snd.icon}}
                <img src="./assets/image/temp/icon-comprehensive.png">
            {{/if}}
            {{snd.name}}
        </h2>
    {{/if}}

    {{each snd.subArray as sa i}}
        {{if sa.type ==3 && sa.subArray.length}}
            <section class="img-module">
                <div class="wrapper">
                    <ul>
                        {{each sa.subArray as sasa}}
                        <li><a data-href="{{sasa.url}}"><img src="{{sasa.icon}}" /></a></li>
                        {{/each}}
                    </ul>        
                </div>
            </section>
        {{/if}}

        {{if sa.type == 4 && sa.subArray.length}}
            <section class="text-module">
                <ul class="item-list">
                    {{each sa.subArray as sasa}}
                        <li class="item">
                            {{each sasa.subArray as sasasa i}}

                            {{if (i%4) == 0}}
                                <dl class="line {{if i>0}}extend{{/if}}">
                                    <dt>
                                        {{if i == 0}}<a data-href="{{sasa.url}}">{{sasa.name}}</a>{{/if}}
                                    </dt>
                            {{/if}}
                            {{if (i%4) != 0}}                        
                                <dd><a data-href="{{sasa.url}}">{{sasa.name}}</a></dd>
                            {{/if}}


                            {{if (i%4) == 3}}
                                </dl>
                            {{/if}}

                            {{/each}}
                            {{if sasa.subArray && ((sasa.subArray.length % 4) != 3)}}
                                </dl>
                            {{/if}}
                        </li>
                    {{/each}}
                </ul>
            </section>

        {{/if}}


        {{if sa.type == 5 && sa.subArray.length}}
            {{if snd.name == "生活服务"}}
                <section class="img-text-module">
                    <ul>
                        {{each sa.subArray as sasa i}}
                        <li>
                            <img src="{{sasa.icon}}">
                            <div>{{sasa.name}}</div>
                            <a data-href="{{sasa.url}}}"></a>
                        </li>
                        {{/each}}                        
                    </ul>
                </section>
            {{/if}}


            {{if snd.name == "购物商城"}}
                <section class="hot-module">
                    <div class="wrapper">
                        <ul>
                        {{each sa.subArray as sasa i}}
                        <li>
                            <a data-href="{{sasa.url}}"><img src="{{sasa.icon}}">{{sasa.name}}</a>
                        </li>
                        {{/each}}   
                        </ul>
                    </div>
                </section>
            {{/if}}

        {{/if}}


    {{/each}}


</section>

{{/each}}
</script>
<script src="./assets/js/zepto/zepto.min.js"></script>
<script src="./assets/js/template/template.js"></script>
<script src="./assets/js/cookie/cookie.js"></script>
<script src="./assets/js/project/index.js"></script>
</body>
</html>