<!DOCTYPE html>
<html>
<head lang="zh-CN">
    <meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="format-detection" content="telephone=no,address=no,email=no"/>
    <meta name="mobileOptimized" content="width"/>
    <meta name="handheldFriendly" content="true"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <title>网址大全</title>

    <link rel="stylesheet" href="./assets/css/normalize.css"/>
    <link rel="stylesheet" href="./assets/css/style.css"/>


    <script src="./assets/js/project/global.js"></script>

</head>
<body>

<script id="j_template" type="text/html">
    

<section class="banner">
    <img src="{{bgData.url}}" />
</section>

<section class="famous-site">
    <div class="wrapper">
        <ul>
            {{each starSiteData as ssd i}}
                {{if i<16}}
                <li><a data-href="{{ssd.url}}"> </a><img src="{{ssd.icon}}" /><span>{{ssd.name}}</span></li>
                {{/if}}
            {{/each}}
        </ul>
    </div>
</section>

{{if adverImageData.length}}
    <section class="category-module">
        <section adv-id="{{adverImageData[0].id}}" class="ad-img">
            <a data-href="{{adverImageData[0].url}}"><img src="{{adverImageData[0].image}}" /></a>
            <i class="icon-close"></i>
        </section>
    </section>
{{/if}}


{{each siteNavigationData as snd}}
    
<section class="category-module">
    {{if snd.name}}
        <h2 class="title">
            {{if snd.icon}}
                <img src="{{snd.icon}}">
            {{/if}}
            {{snd.name}}
        </h2>
    {{/if}}

    {{each snd.subArray as sa i}}
        {{if sa.type ==3 && sa.subArray.length}}
            <section class="img-module">
                <div class="wrapper">
                    <ul>
                        {{each sa.subArray as sasa j}}
                        {{if j<5}}
                        <li><a data-href="{{sasa.url}}"><img src="{{sasa.icon}}" /></a></li>
                        {{/if}}
                        {{/each}}
                    </ul>        
                </div>
            </section>
        {{/if}}

        {{if sa.type == 4 && sa.subArray.length}}
            <section class="text-module">
                <ul class="item-list">
                    {{each sa.subArray as sasa}}
                        <li class="item">
                            {{if sasa.subArray.length>4}}
                                <i class="icon-extend"></i>
                            {{/if}}
                            {{each sasa.subArray as sasasa i}}
                            {{if (i%4) == 0}}
                                <dl class="line {{if i>0}}extend{{/if}}">
                                    <dt>
                                        {{if i == 0}}<a data-href="{{sasa.url}}">{{sasa.name}}</a>{{/if}}
                                    </dt>
                                    <dd><a data-href="{{sasasa.url}}">{{sasasa.name}}</a></dd>
                            {{/if}}

                            {{if (i%4) != 0}}                        
                                <dd><a data-href="{{sasasa.url}}">{{sasasa.name}}</a></dd>
                            {{/if}}


                            {{if (i%4) == 3}}
                                </dl>
                            {{/if}}

                            {{/each}}

                            {{if sasa.subArray && ((sasa.subArray.length % 4) != 3)}}
                                </dl>
                            {{/if}}
                        </li>
                    {{/each}}
                </ul>
            </section>

        {{/if}}


        {{if sa.type == 5 && sa.subArray.length}}
            {{if snd.name == "生活服务"}}
                <section class="img-text-module">
                    <ul>
                        {{each sa.subArray as sasa i}}
                        <li>
                            <img src="{{sasa.icon}}">
                            <div>{{sasa.name}}</div>
                            <a data-href="{{sasa.url}}}"></a>
                        </li>
                        {{/each}}                        
                    </ul>
                </section>
            {{/if}}


            {{if snd.name == "购物商城"}}
                <section class="hot-module">
                    <div class="wrapper">
                        <ul>
                        {{each sa.subArray as sasa i}}
                        <li>
                            <a data-href="{{sasa.url}}"><img src="{{sasa.icon}}">{{sasa.name}}</a>
                        </li>
                        {{/each}}   
                        </ul>
                    </div>
                </section>
            {{/if}}

        {{/if}}


    {{/each}}


</section>

{{/each}}
</script>
<script src="./assets/js/zepto/zepto.min.js"></script>
<script src="./assets/js/template/template.js"></script>
<script src="./assets/js/cookie/cookie.js"></script>
<script src="./assets/js/project/index.js"></script>
</body>
</html>