<!DOCTYPE html>
<html>
<head lang="zh-CN">
    <meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="format-detection" content="telephone=no,address=no,email=no"/>
    <meta name="mobileOptimized" content="width"/>
    <meta name="handheldFriendly" content="true"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <title>生活大全</title>

    <link rel="stylesheet" href="./assets/css/normalize.css"/>
    <link rel="stylesheet" href="./assets/css/style.css"/>

    <script src="./assets/js/project/global.js"></script>

</head>
<body>

<script id="j_template" type="text/html"> 


{{each initLifeData as snd}}
    
<section class="life-module">
    {{if snd.name}}
        <h2 class="title">
            {{if snd.icon}}
                <img src="./assets/image/temp/icon-comprehensive.png">
            {{/if}}
            {{snd.name}}
        </h2>
    {{/if}}

    {{each snd.subArray as sa i}}
        {{if sa.type ==3 && sa.subArray.length}}
            <section class="img-module">
                <div class="wrapper">
                    <ul>
                        {{each sa.subArray as sasa j}}                        
                        {{if j<4}}
                        <li><a data-href="{{sasa.url}}"><img src="{{sasa.icon}}" /></a></li>
                        {{/if}}
                        {{/each}}
                    </ul>        
                </div>
            </section>
        {{/if}}

        {{if sa.type == 4 && sa.subArray.length}}
            <section class="text-module">
                <div class="wrapper">
                    <ul>
                        {{each sa.subArray as sasa}}
                        <li><a data-href="{{sasa.url}}">{{sasa.name}}</a></li>
                        {{/each}}
                    </ul>        
                </div>
            </section>
        {{/if}}


        {{if sa.type == 5 && sa.subArray.length}}
            <section class="img-text-module">
                <ul>
                    {{each sa.subArray as sasa i}}
                    <li>
                        <img src="{{sasa.icon}}">
                        <div>{{sasa.name}}</div>
                        <a data-href="{{sasa.url}}}"></a>
                    </li>
                    {{/each}}                        
                </ul>
            </section>       
        {{/if}}
    {{/each}}
</section>
{{/each}}

{{if toolsArrayData}}

    {{each toolsArrayData as snd}}
    
        <section class="life-module">
            {{if snd.name}}
                <h2 class="title">
                    {{if snd.icon}}
                        <img src="./assets/image/temp/icon-comprehensive.png">
                    {{/if}}
                    {{snd.name}}
                </h2>
            {{/if}}

            {{each snd.subArray as sa i}}
                {{if sa.type ==3 && sa.subArray.length}}
                    <section class="img-module">
                        <div class="wrapper">
                            <ul>
                                {{each sa.subArray as sasa}}
                                <li><a data-href="{{sasa.url}}"><img src="{{sasa.icon}}" /></a></li>
                                {{/each}}
                            </ul>        
                        </div>
                    </section>
                {{/if}}

                {{if sa.type == 4 && sa.subArray.length}}
                    <section class="text-module">
                        <div class="wrapper">
                            <ul>
                                {{each sa.subArray as sasa}}
                                <li><a data-href="{{sasa.url}}">{{sasa.name}}</a></li>
                                {{/each}}
                            </ul>        
                        </div>
                    </section>
                {{/if}}


                {{if sa.type == 5 && sa.subArray.length}}
                    <section class="img-text-module">
                        <ul class="tools">
                            {{each sa.subArray as sasa i}}
                            <li>
                                <img src="{{sasa.icon}}">
                                <div>{{sasa.name}}</div>
                                <a data-href="{{sasa.url}}}"></a>
                            </li>
                            {{/each}}                        
                        </ul>
                    </section>       
                {{/if}}
            {{/each}}
        </section>
    {{/each}}

{{/if}}

</script>


<script src="./assets/js/zepto/zepto.min.js"></script>
<script src="./assets/js/template/template.js"></script>
<script src="./assets/js/project/life.js"></script>
</body>
</html>