#content .effective {
    background: url("../img/coupon/effective.png");
}
#content .uneffictive {
    background: url("../img/coupon/uneffictive.png");
}
#content .blank {
    background: url("../img/coupon/blank.png");
}
#content .coupon-used {
    background: url("../img/coupon/used.png");
}
#content .coupon-overdue {
    background: url("../img/coupon/overdue.png");
}
#content .coupon-balance {
  /*  background: url("../img/coupon/effective.png");*/
    background-size: 100%;
}
#content .coupon-text {
 /*   background: url("../img/coupon/blank.png");*/
    background-size: 100%;
    position: relative;
}
#content .used  .coupon-balance{
   /* background: url("../img/coupon/uneffictive.png");*/
    background-size: 100%;
}
.coupon-balance .balance {
    background-color: #ffc652;
}
.coupon-text .coupon-head {
    height: 1.32rem;
    color: #333333;
}
.used .balance {
     background-color: #cccccc;
 }
#content .used .coupon-text {
/*    background: url("../img/coupon/used.png");*/
    background-size: 100%;
}
.used .coupon-head {
    color: #888888;
}
.outDate {
    width: 1.94rem;
    height: 0.76rem;
    position: absolute;
    left:5.54rem;
    top: 2.83rem;
}
.more-coupon {
    text-align: center;
    padding-top: 0.7rem;
    padding-bottom: 3.34rem;
}
.no-coupon {
    font-size: 0.48rem;
    color: #aaaaaa;
    margin-top: 0;
    margin-bottom: 1.58rem;
}
.check {
   display: inline-block;
    text-decoration: none;
    width: 5.03rem;
    height: 0.97rem;
    line-height: 0.97rem;
    font-size: 0.56rem;
    color: #48d2ca;
    border: 0.04rem solid #48d2ca;
    border-radius: 0.5rem;
    background-color: #f4f4f4;
    outline: none;
}