body {
  background-color: #f4f4f4;
}
h1,
h2,
p {
  margin: 0;
}
h1,
h2 {
  color: #333;
  font-size: .72rem;
  font-weight: normal;
  text-align: center;
}
#header {
  position: relative;
  background-color: #fff;
  border-bottom: 1px solid #c1c1be;
}
#header a {
  position: absolute;
  left: .58rem;
  bottom: .74rem;
  width: .7rem;
  height: .42rem;
  background: left top no-repeat url(../img/icon-fold.png);
  background-size: 100% 100%;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
#header h1 {
  line-height: 1.9rem;
}
#main div {
  padding: 0 .73rem;
  margin-top: .22rem;
  background-color: #fff;
  border: 1px solid #e4e4e4;
  border-left: none;
  border-right: none;
}
#main h2 {
  padding: 1rem 0 .54rem;
  line-height: 1;
}
#main img {
  width: 100%;
  vertical-align: top;
}
#main p {
  padding: .43rem 0;
  color: #666;
  font-size: .56rem;
  line-height: .76rem;
}
#main ul {
  padding-bottom: .55rem;
}
#main li {
  font-size: .48rem;
  line-height: .74rem;
}
#main li span {
  color: #ffc247;
}
