body {
  padding-bottom: 2.16rem;
  background-color: #fff;
}
h1,
h2,
p {
  margin: 0;
}
h1,
h2 {
  font-weight: normal;
}
a {
  text-decoration: none;
}
a.button {
  display: inline-block;
  vertical-align: top;
  padding: 0 .4rem;
  min-width: 1.62rem;
  line-height: .97rem;
  color: #fff;
  border: .04rem solid #fff;
  border-radius: .485rem / 50%;
}
#header {
  position: relative;
  text-align: center;
}
#header .back {
  position: absolute;
  left: .58rem;
  top: .8rem;
  width: .7rem;
  height: .4rem;
  background: left top no-repeat url(../img/icon-fold.png);
  background-size: 100% 100%;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
#header h1 {
  color: #333;
  font-size: .72rem;
  line-height: 2.04rem;
}
#header div {
  padding-bottom: .58rem;
  color: #fff;
  line-height: 1;
  background: left top no-repeat url(../img/vjewel-activity/background.jpg);
  background-size: 100% 100%;
}
#header h2.vjewel {
  padding: .72rem 0 .45rem 0;
  font-size: .64rem;
}
#header h2.coupon {
  padding: 1.2rem 0 .24rem 0;
  font-size: .56rem;
  line-height: 0.62rem;
}
#header h2.coupon a {
  display: inline-block;
  vertical-align: top;
  margin-left: .14rem;
  width: 0.62rem;
  height: 0.62rem;
  background: left top no-repeat url(../img/vjewel-activity/arrow-right.png);
  background-size: 100% 100%;
}
#header p {
  background: center no-repeat url(../img/vjewel-activity/loading.gif);
}
#header p.vjewel {
  height: 2.2rem;
  font-size: 2.2rem;
  background-size: 1.1rem 1.1rem;
}
#header p.vjewel.error {
  font-size: .512rem;
  line-height: 2.2rem;
}
#header p.coupon {
  height: 1.2rem;
  font-size: 1.2rem;
  background-size: .6rem .6rem;
}
#header p.coupon.error {
  font-size: .448rem;
  line-height: 1.2rem;
}
#header p.hide {
  background: none;
}
#header .help {
  position: absolute;
  right: .57rem;
  top: .4rem;
  width: .72rem;
  height: .72rem;
  background: left top no-repeat url(../img/vjewel-activity/question.png);
  background-size: 100% 100%;
}
#header .link {
  position: absolute;
  left: 50%;
  bottom: .58rem;
  margin-left: -1.75rem;
  width: 3.5rem;
  height: 2rem;
}
#main {
  padding-top: .23rem;
  background-color: #f4f4f4;
  border-bottom: 1px solid #e4e4e4;
}
#main h2 {
  padding: .55rem 0 .73rem;
  color: #fff;
  height: .77rem;
  font-size: .56rem;
  line-height: .77rem;
  text-align: center;
  background: #ffffff center 0.55rem no-repeat url(../img/vjewel-activity/title.png);
  background-size: auto .94rem;
  border-top: 1px solid #e4e4e4;
}
#main li {
  padding: 0 .32rem;
  font-size: .56rem;
  background-color: #fff;
  border-top: 1px solid #e6e6e6;
}
#main li:first-child {
  border-top: none;
}
#main li:first-child .app-picture {
  margin-top: 0;
}
#main .app-picture {
  margin-top: .72rem;
  width: 100%;
  height: 4.91rem;
  vertical-align: top;
}
#main .wrapper {
  overflow: hidden;
}
#main .wrapper div {
  float: left;
  line-height: 1;
}
#main .wrapper a {
  float: right;
  margin-top: .95rem;
}
#main .description {
  margin: .46rem 0 .35rem;
  max-width: 10.05rem;
  color: #333;
  font-size: .64rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
#main .description.official::before {
  content: "官方";
  display: inline-block;
  vertical-align: top;
  margin: .06rem .23rem 0 0;
  color: #31abea;
  font-size: .41rem;
  line-height: .48rem;
  border: 2px solid #31abea;
  border-radius: 4px;
}
#main .status {
  margin-bottom: .47rem;
  color: #999;
  line-height: 1.03rem;
}
#main .status em {
  display: inline-block;
  vertical-align: top;
  margin: 0 .23rem;
  width: .95rem;
  height: 1.03rem;
  color: #fcac0c;
  font-size: .6rem;
  font-weight: bolder;
  font-style: normal;
  text-align: center;
  background: left top no-repeat url(../img/vjewel-activity/page.png);
  background-size: 100% 100%;
}
#main .nostart a.button {
  color: #00d4cc;
  border-color: #00d4cc;
}
#main .underway a.button {
  color: #ffc247;
  border-color: #ffc247;
}
#main .end a.button {
  color: #f77230;
  border-color: #f77230;
}
#main .default {
  font-size: .56rem;
  text-align: center;
  background-color: #fff;
}
#main .default img {
  margin: 1.3rem 0 1.1rem;
  width: 3.79rem;
  height: 4.2rem;
  vertical-align: top;
}
#main .default p {
  margin-bottom: 1.21rem;
  color: #888;
  line-height: 1;
}
#main .default a {
  margin-bottom: 3.53rem;
  padding: 0 .52rem;
  color: #f87332;
  border-color: #f87332;
}
