html{
    font-family: Arial,"Microsoft YaHei";
    background-color: #ffffff;
}

body{
    width: 14.4rem;
    margin: 0 auto;
    overflow-x:hidden;
}


/* 去掉点击区域效果 */
a, button, input {
    -webkit-tap-highlight-color: transparent;
    outline: 0;
}

p,li,dt,dd,h1,h2,h3{
    margin: 0
}

.wrapper{
    width: 13rem;
    margin: 0 auto;
}

.red{
    color:#d10207!important;
}

.banner{
    font-size: 0;
}

.banner img{
    width: 100%;
}


.famous-site{
    overflow: hidden;
    margin-bottom: .82rem;
}

.famous-site li{
    float: left;
    width: 25%;
    height:.76rem;
    font-size: 0;
    margin-top: .82rem;
    position: relative;
    color:#000000;
}

.famous-site li.light{
    color:#d10207; 
}


.famous-site li a{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.famous-site li img{
    width: .76rem;
    height: .76rem;
    vertical-align: middle;
}

.famous-site li span{
    display: inline-block;
    height: .76rem;
    line-height: .76rem;
    font-size: .6rem;
    vertical-align: middle;
    margin-left: .42rem;
}

.ad-img{
    font-size: 0;
    position: relative;
}

.ad-img img{
    width: 100%;
    height: 2.31rem;
}

.ad-img i{
    position: absolute;
    width: .64rem;
    height: .64rem;
    background:url(../image/common/icon-close.png) no-repeat;
    background-size: contain;
    right: .42rem;
    top:50%;
    margin-top: -.32rem;
}


.category-module .title{
    font-size: .68rem;
    font-weight: normal;
    color:#999999;
    line-height: 1;
    position: relative;
    height: 1.68rem;
    line-height: 1.78rem;
    padding:.1rem .7rem 0 1.96rem;
    border-top: 1px solid #e5e5e5;
}

.category-module .title img{
    position: absolute;
    width: .96rem;
    height: .96rem;
    left: .7rem;
    top: 50%;
    margin-top: -.38rem;
}


.category-module .item{
    position: relative;
}

.category-module .item > i.icon-extend{
    position: absolute;
    z-index: 2;
    width: .64rem;
    height:.36rem;
    padding: .4rem .4rem .4rem .2rem;
    background: url(../image/common/icon-extend.png) center center no-repeat;
    background-size:.64rem .36rem;
    right: .5rem;
    top: .48rem; 
    transition:transform 0.3s ease;
    -webkit-transition: -webkit-transform 0.3s ease;
}

.category-module .item > .fold{
    transform: rotateZ(-180deg);
    -webkit-transform: rotateZ(180deg);
}



.category-module .line{
    padding: 0 1.48rem 0 .7rem;
    border-top: 1px solid #e5e5e5;
    overflow: hidden;
}

.category-module .extend{
    display: none;
}

.category-module .line dt,.category-module .line dd{
    width: 20%;
    float: left;
    padding: .64rem 0;
    font-size: 0;
}


.category-module .line a{
    display: inline-block;
    font-size: .6rem;
    width: 100%;
    height: .82rem;
    line-height: .82rem;
    text-decoration: none;
    color:#000000;
}

.category-module .light a{
    color:#ff0000;
}



.category-module .line dt a{
    color:#3a8ef2;
    border-right: 2px solid #cccccc;
}

.category-module .line dd{
    text-align: center;
}


.img-text-module{
    padding: .43rem 0;
    border-top: 1px solid #e5e5e5;
}

.img-text-module ul{
    overflow: hidden;
}

.img-text-module li{
    float: left;
    width: 20%;
    height: 3.5rem;
    text-align: center;
    font-size: 0;
    position: relative;
}

.img-text-module .tools li{
    width: 25%;
}

.img-text-module li > a{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.img-text-module li img{
    width: 1.2rem;
    height: 1.21rem;
    margin:.55rem 0;     
}

.img-text-module .tools img{
    width: 1.36rem;
    height: 1.36rem;
}

.img-text-module li div{
    font-size: .6rem;
    color:#000000;    
}

.img-text-module li.light div{
    color:#d10207;
}


/*  image adv  */
.img-module{
    border-top: 1px solid #e5e5e5;
}

.img-module ul{
    overflow: hidden;
    padding: .67rem 0;
}

.img-module ul li{
    font-size: 0;
    width: 3rem;
    margin-right: .32rem;
    float: left;
}

.img-module li img{
    width: 3rem;
    height: 2.2rem;
}

.img-module ul li:last-child{
    margin-right: 0;
}


/*
    爆款
*/
.hot-module ul{
    overflow: hidden;
}

.hot-module li{
    height: .7rem;
    line-height: .7rem;
    font-size: .6rem;
    position: relative;
    padding-left: 2.15rem;
    margin-bottom: .8rem;
}

.hot-module li img{
    position: absolute;
    width: 1.2rem;
    height: .6rem;
    left: .2rem;
    top: .05rem;
}




/*
    生活大全
*/
.life-module{
    padding-top: .32rem;
    border-top: 1px solid #e5e5e5;
}

.life-module .title{
    font-size: .68rem;
    font-weight: normal;
    color:#999999;
    line-height: 1;
    position: relative;
    height: 1.6rem;
    line-height: 1.6rem;
    padding:0 .7rem;
    border-bottom: 1px solid #e5e5e5;
}

.life-module .title img{
    position: absolute;
    width: .2rem;
    height: .72rem;
    left: 0;
    top: 50%;
    margin-top: -.36rem;
}

.life-module .img-text-module{
    border: none;
}


.text-modules{    
    margin-top: .86rem;
}
.text-modules ul{
    width: 13.32rem;
    overflow: hidden;
}

.text-modules li{
    width: 3rem;
    height: 1.24rem;
    line-height: 1.24rem;
    margin-right: .32rem;
    float: left;
    background-color:#f2f2f2;
    text-align: center;
    margin-bottom: .7rem;
    font-size: .6rem;
    color: #000000;
}


