.guarantees{
	width: 100%;
	height: .58rem;
	background: url(../../../images/home/bg-guarantees.png) center center no-repeat;
	background-size: 7.2rem .57rem;
}

.banner {
    width: 100%;
    line-height: 0;
    overflow: hidden;
    background-color: #fff;
}

.banner .banner-link{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.banner img {
    width: 7.2rem;
    height: 4.93rem;
}

.banner .indicator {
    position: absolute;
    bottom: .4rem;
    right:.22rem;

    text-align: right;
    font-size: 0;
    height: .14rem;
    line-height: .14rem;
}

.banner .indicator span {
    display: inline-block;
    vertical-align: middle;
    width: .11rem;
    height: .11rem;
    background-color: #cdcdcd;
    border-radius: 50%;
    margin-right: .1rem;
    opacity: .6;
}

.banner .indicator span.on {
    background-color: #f2f2f2;
    width: .14rem;
    height: .14rem;
    opacity: 1;
}

.banner p{
    font-size: 0;
    margin: 0;
}

/* 导航 */
.nav{
	background-color: #fff;
	padding: .16rem 0 .25rem;
}

.nav__box{    
	display: box;
    display: -webkit-box;
    box-align: center;
    -webkit-box-align: center;
    box-pack: center;
    -webkit-box-pack: center;
}

.nav__item{
    -webkit-box-flex: 1;
    box-flex: 1;
    width: 100%;

    font-size: 0;
    text-align: center;
}

.nav__img{
	width: auto;
	height: 1.2rem;
}

/* 楼层 */
/* 样式类型(选购促销位，fp,商品位c_3,促销位p_3,促销商品位pc_6,固定商品位c_8,推荐位,rp) */
.floor__container{
    overflow: hidden;
}

.floor__title{
    margin: 0;
    height: 1.1rem;
    padding: 0 .29rem;

    font-size: .3456rem;
    font-weight: normal;
    line-height: 1.1rem;
    color: #333;
    text-align: center;
}

.floor__title::before,
.floor__title::after{    
    position: relative;
    margin: 0 .1rem;
    display: inline-block;
    content: ' ';
    height: 1px;
    width: .36rem;
    background-color: #9c9c9c;
    vertical-align: middle;
}

.floor__item-list{
    margin-right: -2px;
}

.floor__item{
    position: relative;
    margin-right: 1px;
    margin-bottom: 1px;
    float: left;
    width: 3.6rem;
    height: 5.2rem;

    font-size: 0;    
    text-align: center;
    background-color: #fff;
}

.floor__item a{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.floor__item.full{
    width: 7.2rem;
    height: 2.9rem;
}

.floor__item img{
    margin: .64rem 0 .18rem;
    width: 2.18rem;
    height: 2.18rem;

    border: 0;
    background: url("../../../images/common/loading-image.gif") center center no-repeat;
    background-size: 1.34rem 1.34rem;
}

.floor__item.full img,
.p_3 .floor__item img{
    margin: 0;
    width: 100%;
    height: 100%;
}

.c_3 .full img{
    float: left;
    margin-left: 1rem;
    margin-top: .2rem;
    width: 2.45rem;
    height: 2.45rem;
}

.floor__item__title{
    margin: 0 0 .05rem;
    padding: 0 .5rem;

    font-size: .288rem;
    line-height: 1.2;
    font-weight: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #333;
}

.c_3 .full .floor__item__title{
    margin-top: .7rem;    
}

.floor__item__selling-point{
    margin: 0;
    padding: 0 .4rem;

    font-size: .211rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #808080;
}

.c_3 .full .floor__item__selling-point{
    padding: 0 .5rem;
}

.floor__item__price{
    margin:.65rem 0 0; 
    font-size: .288rem;
    color: #e43622;
}

.c_3 .full .floor__item__price{
    margin-top: .56rem;
}

.floor__bottom{
    clear: both;
    height: .95rem;
    font-size: 0;

    text-align: center;
    background-color: #fff;
}

.floor__bottom__link{
    font-size:.25rem;
    line-height: .95rem;
    color: #333;
}

.floor__bottom__link::after{
    content: " ";
    display: inline-block;
    margin-left: .08rem;
    position: relative;
    top: -.02rem;
    width: .09rem;
    height: .16rem;

    vertical-align: middle;
    background: url(../../../images/home/icon-angle-right.png) no-repeat;
    background-size: contain;
}


/* 热点推荐 */
.rp .floor__item{
    margin: .28rem 0 0;
    height: .54rem;
    width: 25%;
}

.rp .floor__container{
    padding: .3rem .3rem .58rem;
    background-color: #fff;
}

.rp .floor__item a{
    position: static;
    display: block;
    margin: 0 auto;
    width: 1.33rem;
    height: .52rem;
    overflow: hidden;

    font-size: .23rem;
    line-height: .52rem;
    color: #333;
    border: 1px solid #d9d9d9;
    border-radius: .3rem;
}

/* 工具栏 */
.aside{
    position: fixed;
    right: .3rem;
    bottom: 1.4rem;
    width: .96rem;

    z-index: 99;
}

.aside__item{
    margin-bottom:.29rem;
    width: .94rem;
    height: .94rem;
    border: 1px solid #ebebeb;
    background-color: rgba(255,255,255,.8);
    border-radius: .95rem;

}

.aside__item.go-top{
    visibility: hidden;
}

.aside__item.show{
    visibility: visible;
}

.aside__item .aside__item__link{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    background: url(../../../images/home/bg-sidebar.png) no-repeat;
    background-size:.49rem 1.1rem;
}

.shopping-cart .aside__item__link{
    background-position: center .3rem;
}

.go-top .aside__item__link{
    background-position: center -.55rem;
}

.shopping-cart .badge{
    position: absolute;
    right: .16rem;
    top: .19rem;
    height: .33rem;
    width: .33rem;

    font-size: .19rem;
    line-height: .33rem;
    text-align: center;
    background-color: #ff4141;
    border-radius: .33rem;
    color: #fff;
}