html{
	font-family: "黑体",Arial;
}

body{
	width: 10.8rem;
	overflow-x:hidden; 
}

#header{
	height:1.17rem;
	background-color:#3aa2fe;
	position: fixed;
	top:0;
	left: 0;
	z-index: 10;
	width: 100%;
    font-size: 0;
}

#header .logo img{
	height: .54rem;
	margin-top: .315rem;
}

#header .label{
	float: right;
	margin-right: .44rem;
	height: 1.17rem;
	line-height: 1.17rem;
}

#header .label a{
    color: #D1DDF5;
	font-size: .3rem;	
	text-decoration: none;
}

#nav{
	position: fixed;
	width: 1.6rem;
	top:1rem;
	left: .44rem;
	z-index: 10;
}

#nav ul{
	padding: 0;
}

#nav li{
    padding: .45rem 0;
    white-space: nowrap;
    font-size: 0;
}


#nav li a{
	font-size: .32rem;
	color:#747474;
	line-height: 1;
	text-decoration: none;	
}

#nav li.on a{
	font-size:.38rem;
	color:#3aa2fe;

}

.section .content{
	display: table;
	height: 100%;
	width: 100%;
}

.section .left,.section .right{
	vertical-align: middle;
}

.section .left{
    padding-top: 1.17rem;
	height: 30%;
	padding-left: 2.44rem;
    overflow: hidden;
}

.section .right{	
	width: 100%;
	height: 70%;
	overflow: hidden;
	z-index: 9;
}

.app-store .right{
	background-color: #ebf5ff;
}

.game-center .right{
	background-color: #fff7f7;
}

.browser .right{
	background-color: #ebf3ff;
}

.left .container{
	font-size: 0;
	position: relative;
	height: 100%;
}

.container .icon{
    width: 100%;
    position: absolute;
    bottom: 0;
    right: -.15rem;
}

.container .download{
	width: 1.98rem;
	height: .78rem;
	border-radius: .07rem;
	font-size: .3667rem;
	line-height: .78rem;
	color:#ffffff;
	background-color: #3fa5ff;
	text-decoration: none;
	text-align:center; 
	position: absolute;
	bottom: .3rem;
	right:.44rem;
}

.container .download:hover{
	background-color: #007cea;
}

.right .figure{
	height: 90%;
	margin-top: 5%;
	position: relative;
}

.right .figure img{
	position: absolute;
	top:0;
	width: auto;
	height: 100%;
	right: 0;
	z-index: 9;
}

