<!DOCTYPE html>
<html>
<head lang="zh_CN">
    <meta charset="UTF-8">
    <title>我的VIP</title>
    <meta name="format-detection" content="telephone=no,address=no,email=no"/>
    <meta name="mobileOptimized" content="width"/>
    <meta name="handheldFriendly" content="true"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>

    <script src="./assets/js/common/global.js"></script>

    <link rel="stylesheet" href="./assets/css/normalize.css"/>
    <link rel="stylesheet" href="./assets/css/style.css"/>
</head>
<body>
<script type="text/html" id="j_template">
    <section class="mem-info block long">
        <div class="wrapper">
            <div class="table">
                <div class="table-cell portrait">
                    <div class="portrait-box">
                        <div class="portrait-mask"></div>
                        <img class="portrait-img" src="{{vipInfo.smallAvatar}}">
                        <span class="vip-level">{{vipInfo.level}}</span>
                    </div>
                </div>
                <div class="table-cell  level">
                    <h1>{{vipInfo.nickname}}</h1>

                    {{if vipInfo.level<13}}
                        <p class="comment">距离VIP{{vipInfo.level+1}}:还需要消耗<span class="orange">{{vipInfo.nextLevelTotal
                        }}</span>V钻</p>
                    {{/if}}

                    <div class="process-box">
                        <div class="process-bar">
                            <div class="process-inner" style="width:{{vipInfo.total*100/(vipInfo.total+ vipInfo.nextLevelTotal)}}%"></div>
                        </div>
                        <p class="comment">{{vipInfo.total}}／{{vipInfo.total+ vipInfo.nextLevelTotal}}V钻</p>
                        <i class="icon-diamond"></i>
                    </div>
                    {{if vipInfo.level>=0}}
                    <i id="j_service" class="icon-service"></i>
                    {{/if}}
                </div>
            </div>
        </div>
    </section>

    {{if vipActivity&&vipActivity.title}}
        <section class="vip-activity block">
            <div class="title-box">
                <h2 class="bg-box">VIP活动</h2>
            </div>
            <div class="vip-activity-content">
                <div class="wrapper">
                    <img class="app-picture" src="{{vipActivity.icon_url}}" />
                    <div class="comment-box">
                        <h3 class="vip-activity-title">{{vipActivity.title}}</h3>                        
                            <div class="comment">
                                {{if vipActivity.status == 1}}
                                    活动已结束
                                {{else}}
                                    {{responseTime | formatStartDate:vipActivity.startTime,vipActivity.endTime}}
                                {{/if}}
                            </div>
                        <button id="j_viewActivity" class="button" ac-id="{{vipActivity.id}}">去看看</button>
                    </div>
                </div>
            </div>
        </section>
    {{/if}}

    <section class="vip-privileges block">
        <div class="title-box">
            <h2 class="bg-box">VIP特权</h2>
        </div>
        <div id="j_listBox" class="list-box extended">
            <ul class="privilig-list">
                {{each privilege as prv i}}
                <li>
                    <div class="img-box">
                        <img src="{{prv.icon}}">
                    </div>
                    <h3>{{prv.title}}</h3>

                    <p>{{prv.remark}}</p>
                </li>
                {{/each}}
            </ul>
        </div>

        {{if (privilege.length>6) }}
        <div id="j_FoldBar" class="tool-bar"><span class="text-fold">收起</span><span class="text-extend">更多</span><i></i>
        </div>
        {{/if}}
    </section>

    <section class="vip-level block">
        <div class="title-box">
            <h2 class="bg-box">VIP等级说明</h2>
        </div>
        <div class="wrapper">
            <p class="comment">根据累计消费V钻总额，确定您的VIP等级
                <small>(注：单机、棋牌游戏消费金额不计入VIP的成长统计。)</small>
            </p>
            <table id="j_dataTable">
                <thead>
                <tr>
                    <td style="width:2.9rem;">VIP等级</td>
                    <td style="width: 4.4rem">累计消费(V钻)</td>
                    <td style="width:3.3rem;">获赠礼券</td>
                    <td>操作</td>
                </tr>
                </thead>
                <tbody>
                {{each vipLevelBenefit as vlb i}}
                <tr level="{{vlb.level}}">
                    <th>VIP{{vlb.level}}</th>
                    <td>≥{{vlb.reqVzAmt}}</td>
                    <td>{{(vlb.ticketValue==0)?'无':vlb.ticketValue}}</td>
                    <td>
                        {{if vlb.hasTaken}}
                        已领取
                        {{/if}}

                        {{if (!vlb.hasTaken)}}
                        {{if vlb.ticketValue==0}} - {{/if}}
                        {{if (vlb.ticketValue>0)&&(vlb.level>vipInfo.level)}}未达成{{/if}}
                        {{if (vlb.ticketValue>0)&&(vlb.level<=vipInfo.level)}}
                        <button class="btn-red" type="button">领取</button>
                        {{/if}}
                        {{/if}}
                    </td>
                </tr>
                {{/each }}

                </tbody>
            </table>
        </div>
    </section>

</script>

<div id="j_popup" class="popup">
    <div class="top"><img src="./assets/img/vip/popup-icon.png" /></div>
    <div class="wrapper">
        <div class="content">
            VIP客服QQ：800105105
        </div>
        <div class="btn-box">
            <button class="btn-confirm" type="button">立即交谈</button>
            <button class="btn-cancel" type="button">取消</button>
        </div>
    </div>
</div>


<div id="j_popup-receive" class="popup-receive">
    <div class="bg-top"><img src="./assets/img/vip/bg-popup.png" /></div>
    <div class="wrapper">
        <div class="content">
            VIP客服QQ：800105105
        </div>
        <div class="btn-box">
            <button class="btn-confirm" type="button">立即交谈</button>
            <button class="btn-cancel" type="button">取消</button>
        </div>
    </div>
</div>

<script src="./assets/js/zepto/zepto.min.js"></script>
<script src="./assets/js/template/template.js"></script>
<script src="./assets/js/common/index.js"></script>
<script src="./assets/js/cookie/cookie.js"></script>
<script>

    //客户端回调方法：检查是否安装QQ
    function syncInstallStatus(status){
        if(status){
            $("#j_popup").fadeIn();
            if($(".mask").length){
                $(".mask").fadeIn();
            }else{
                $(document.body).append("<div class='mask'>")
            }
        }else{            
            if (typeof webToastShow == "function") {
                webToastShow("请先安装手机QQ");
            }
        }
    }

    $(document).on("tap","#j_viewActivity",function () {
         var id = $(this).attr("ac-id");

        invokeLocal("jumpTo",{"info":{
                "relativeType": "3",
                "relative": {
                    "id": id,  //id为活动号，当id为小于等于0时跳活动详情；
                }
            }});

    })

    //“立即交谈”、“取消”按钮事件
    $(document).on("tap","#j_popup button",function () {        
        if($(this).hasClass("btn-confirm")){
            location.href = "./call-qq.html";
        } else{
            $("#j_popup").hide();
            if($(".mask").length){
                $(".mask").hide();
            }
        }
    })

    //VIP特权折叠展开
    $(document).on("tap","#j_FoldBar", function() {
        $("#j_listBox").toggleClass("extended");
        $(this).toggleClass("extended")
    });
 
    document.cookie = "n=880461d865bd98c5";
    document.cookie = "r=MTliMDBmNWE4ZGJiYjBkNWQxMGEuNTI1OTI3NS4xNDUzNDY2Mjg3NDY4";

    $(function () {
        //初始化页面数据
        var url = "http://192.168.2.234:1261/vip/myVip";
        $.getJSON(url,
            {
                openid: $.cookie("n"), 
                token: $.cookie("r")
            },
            function (data) {
                if (data.result) {
                    template.config("escape",false);

                    //根据开始、结束时间返回特定内容
                    template.helper(
                        "formatStartDate",
                        function (now,startTime,endTime){
                            var hh,mm,
                                start = startTime-now;
                                end = endTime-now;
                            //大于1天
                            if(start >= (24*3600*1000) ){
                                return "距离开始<em>"+Math.floor(start/(24*3600*1000))+"</em>天";
                            }else if(start > 0){
                                //不足一天
                                hh = Math.floor(start/(3600*1000));
                                mm = Math.ceil((start%(3600*1000))/(60*1000));
                                return "距离开始<em>"+(hh>10?hh:("0"+hh))+"</em>:<em>"+(mm>10?mm:("0"+mm))+"</em>";

                            }else if(end >= (24*3600*1000)){
                                return "距离结束<em>"+Math.floor(end/(24*3600*1000))+"</em>天";
                            }else if(end>0){
                                //不足一天
                                hh = Math.floor(start/(3600*1000));
                                mm = Math.ceil((start%(3600*1000))/(60*1000));
                                return "距离结束<em>"+(hh>10?hh:("0"+hh))+"</em>:<em>"+(mm>10?mm:("0"+mm))+"</em>";
                            }else{
                                return "活动已结束";
                            }
                        });
                    $(document.body).prepend(template("j_template", data));
                }
                else {
                    webToastShow(data.errMsg);
                }
            });
    });

    //vip活动开始时间格式化工具

    //点击客服按钮
    $(document).on("tap","#j_service", function () {
        //调用native检查是否安装QQ
        if(typeof invokeLocal == "function"){
            invokeLocal("QueryAppInstallStatus",{
                "info":{
                    "packageName":"com.tencent.mobileqq"
                }
            });
        }
    });

    $(document).on("tap","#j_dataTable .btn-red", function () {
        var that = this;
        var level = $(this).closest("tr").attr("level");
        //ajax 请求领取
        var url = "http://192.168.2.230:1266/vip/getVipBenefitTicket";
        $.getJSON(url,
                {openid: $.cookie("n"), token: $.cookie("r"), level: level},
                function (data) {
                    if (data.result) {
                        $(that).parent().html("已领取");
                    } else {
                        webToastShow(data.errMsg);
                    }
                })

    });



</script>

</body>
</html>