html {
    color: #333;
    background-color:#f4f4f4;
    overflow-y: scroll;
    -webkit-user-select: none
}

body, button, input, select, textarea, pre {
    font-size: 16px;
    font-family: Tahoma, Helvetica, "Microsoft Yahei", "微软雅黑", Arial, STHeiti
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

*:focus {
    outline: 0
}

input[type="submit"], input[type="button"] {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-appearance: none;
    -moz-appearance: none
}

input[type="text"],input[type="password"] {
    border: none;
    display: block;
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    box-flex: 1;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
    line-height: 20px;
    font-size: 16px;
    height: 20px;
    padding-top: 14px;
    padding-bottom: 14px;
}

.swipe {
    overflow: hidden;
    visibility: hidden;
    position: relative;
}
.swipe-wrap {
    overflow: hidden;
    position: relative;
}
.swipe-wrap > div {
    float:left;
    width:100%;
    position: relative;
}