body{
    padding-top:78px;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    background-color:#ffffff;
}

.header-toolbar{
    width: 100%;
    padding:5px 0;
    background-color: #00baff;
}

.header .search-box{
    width: 80%;
    margin: 0 auto;
}

.input-box{
    height:35px;
    line-height:35px;
    padding:0 10px;
    position:relative;
    background-color:#ffffff ;
    border-radius: 5px;
}

.input-box input{
    width:80%;
    height:25px;
    padding:5px 0;
}

.search-button{
    width:50px;
    height:35px;
    position: absolute;
    right: 5px;
    top: 0;
    border: none;
    background:url("../img/bg-spirit.png") left top no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
}

.categories{
    overflow: hidden;
}
.categories ul{
    margin: 0;
    padding: 0;
}
.categories li{
    float: left;
    width: 33.333%;
    height:30px;
    color: #474747;
    line-height: 30px;
    text-align: center;
    border-bottom: solid 3px #ffffff;
}
.categories li.on{
     border-bottom-color: #00baff;
     color:#00baff;
 }

.swipe img,.ads img{
    width:100%;
    height: auto;
}

.ads li{
    width:24.5%;
    height:45px;
    margin-left: 0.5%;
    line-height:45px;
    font-size:18px;
    color:#ffffff;
    text-align: center;
    font-family: "Microsoft Yahei";
    float:left;
    border-radius: 5px;
}

.cls-must{
    background-color:#43CAC0 ;
}

.cls-new{
    background-color:#FF8158;
}

.cls-topic{
    background-color:#F7C903;
}
.cls-activity{
    background-color: #7ACD54;
}


