body{
    padding-top:78px;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    background-color:#ffffff;
}

.header-toolbar{
    width: 100%;
    padding:5px 0;
    background-color: #00baff;
}

.header .search-box{
    width: 80%;
    margin: 0 auto;
}

.input-box{
    height:35px;
    line-height:35px;
    padding:0 10px;
    position:relative;
    background-color:#ffffff ;
    border-radius: 5px;
}

.input-box input{
    width:80%;
    height:25px;
    padding:5px 0;
}

.search-button{
    width:50px;
    height:35px;
    position: absolute;
    right: 5px;
    top: 0;
    border: none;
    background:url("../img/bg-spirit.png") left top no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
}
.categories{
    overflow: hidden;
}
.categories ul{
    margin: 0;
    padding: 0;
}

.categories li{
    float: left;
    width: 33.333%;
    height:30px;
    color: #474747;
    line-height: 30px;
    text-align: center;
    border-bottom: solid 3px #ffffff;
}

.categories li.on{
     border-bottom-color: #00baff;
     color:#00baff;
 }

.slides{
    width: 100%;
    height:200px;
    overflow: hidden;
    position: relative;
}

.slides ul{
    position:absolute;
    width:200%;
    list-style: none;
    padding:0;
    margin:0;
}
.slides ul li{
    width:50%;
    float:left;
    list-style: none;
    padding:0;
    margin:0;
}


.slides img{
    width:100%;
    height: auto;
}



