body, #content {
    background-color: #fff !important;
}

p {
    margin: 0;
}

.problem-wrapper {
    position: relative;
    padding-top: .18rem;
    background-color: #f2f2f2;
}

.problem {
    position: relative;
}

.problem::after {
    content: "";
    position: absolute;
    top: .23rem;
    right: .33rem;
    width: .39rem;
    height: .39rem;
    background: center center no-repeat url("../../../images/feedback/slide-down.png");
    background-size: 100% 100%;
}

.problem p {
    padding: 0 .71rem 0 .33rem;
    color: #000;
    font-size: .28rem;
    line-height: .85rem;
    background-color: #fff;
    border-bottom: 1px solid #e7e7e7;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.problem select {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: .85rem;
    opacity: 0;
}

.problem option {
    color: #000;
    font-size: .28rem;
}

.input-wrapper {
    padding: .28rem .33rem 0;
    color: #c1c1c1;
    font-size: .2667rem;
}

textarea, .contact-way, .code-input {
    border: 1px solid #e7e7e7;
    box-sizing: border-box;
}

textarea {
    display: block;
    padding: .15rem .23rem;
    width: 100%;
    height: 2.69rem;
    line-height: 1.3;
    outline: none;
    resize: none;
}

.contact-way {
    display: block;
    margin-top: .28rem;
    padding: 0 .23rem;
    width: 100%;
    line-height: .78rem;
}

.change-code {
    float: right;
    margin-top: .28rem;
    padding: 1px 0;
    color: #008cd6;
    font-size: .24rem;
    line-height: .78rem;
    text-decoration: none;
}

.code {
    float: right;
    margin: .44rem .25rem .16rem 0;
    padding: 1px 0;
    width: 1.08rem;
    height: .46rem;
}

.code-input {
    margin-top: .28rem;
    padding: 0 .23rem;
    width: 3.25rem;
    line-height: .78rem;
}

.error {
    visibility: hidden;
    margin-top: .28rem;
    color: #f80000;
    line-height: .38rem;
}

.error::before {
    content: "";
    display: inline-block;
    vertical-align: top;
    margin-right: .14rem;
    width: .38rem;
    height: .38rem;
    background: center center no-repeat url("../../../images/feedback/icon-error.png");
    background-size: 100% 100%;
}

.fixed-btn-wrapper {
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 7.2rem;
    font-size: 0;
    line-height: 1.1rem;
    text-align: center;
    background-color: #f4f4f4;
}

.fixed-btn-wrapper button {
    vertical-align: middle;
    width: 6.55rem;
    height: .78rem;
    color: #fff;
    font-size: .3467rem;
    line-height: 1;
    border: none;
    border-radius: .067rem;
    background-color: #35abe2;
}