body{
    padding-bottom:0;
    width: auto;
}

#content{
    position: relative;
    font-size: 0;
}

.background{
    width: 100%;
    min-height: 9rem;
}

.official .background{
    display: none;
}

.turntable{
    position: absolute;
    left: 50%;
    top: 2.9rem;
    margin-left: -2.945rem;
    padding: .35rem .31rem .31rem;
}

.turntable .start{
    position: absolute;
    left: 2.12rem;
    top: 2.16rem;
    width: 1.65rem;
    height: 1.65rem;
    text-align: center;
}

.turntable .start div{
    line-height: 1.3365rem;
}

.turntable .start img{
    width: 100%;
    vertical-align: middle;
}

.turntable ul{
    position: relative;
    width: 5.27rem;
    height: 5.27rem;
    border-radius: .1rem;
}

.turntable li{
    position: absolute;
    width: 1.65rem;
    height: 1.65rem;
    text-align: center;
    border-radius: .1rem;
    background-color: #ffeec2;
}

.turntable li.active{
    background-color: #fd921f;
}

.turntable li:nth-child(1){
    left: .08rem;
    top: .08rem;
}

.turntable li:nth-child(2){
    left: 1.81rem;
    top: .08rem;
}

.turntable li:nth-child(3){
    left: 3.54rem;
    top: .08rem;
}

.turntable li:nth-child(8){
    left: .08rem;
    top: 1.81rem;
}

.turntable li:nth-child(4){
    left: 3.54rem;
    top: 1.81rem;
}

.turntable li:nth-child(7){
    left: .08rem;
    top: 3.54rem;
}

.turntable li:nth-child(6){
    left: 1.81rem;
    top: 3.54rem;
}

.turntable li:nth-child(5){
    left: 3.54rem;
    top: 3.54rem;
}

.turntable img{
    width: 81%;
    height: 81%;
}

.turntable p{
    margin: .05rem 0 0;
    color: #000;
    font-size: .16rem;
    line-height: 1;
}

.turntable li.active p{
    color: #fff;
}

.official .turntable{
    margin: 0;
    position: static;
    padding: 0;
    background: #f7f7f7;
}


.official .turntable ul{
    margin: 0 auto;
}

.official .turntable li{
    background-color: #fff;
    color: #333;
    border-radius: 0;
}

.official .turntable .start{
    top:50%;
    left: 50%;
    margin-top: -0.825rem;
    margin-left: -0.825rem;
    background: url("../../../images/membercenter/lottery/lottery-start-embed.png") no-repeat;
    background-size: 100% 100%;
}

.official .turntable li.active{
    background-color: #eee;
}

.official .turntable li.active p{
    color: #000;
}

.official .turntable img{
    width:1.3rem;
    height:1.3rem;
}

.official .turntable .start img {
    display: none;
}

.official .turntable p{
    position: absolute;
    bottom: .1rem;
    width: 100%;
    color: #000;
    font-size: .18rem;
    line-height: .2rem;
}

.official .turntable .start p{
    bottom:.52rem;
    color: white;
}


#mask{
    display: none;
    position: fixed;
    z-index: 20;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
}

#mask .table{
    display: table;
    width: 100%;
    height: 100%;
}

#mask .table-cell{
    display: table-cell;
    vertical-align: middle;
}

#mask .container{
    position: relative;
    display: none;
    margin: auto;
    width: 89%;
    color: #333;
    font-size: .33rem;
    line-height: 1;
    text-align: center;
    background-color: #fff;
}

#mask .close{
    position: absolute;
    right: .19rem;
    top: .19rem;
    width: .33rem;
    height: .33rem;
    background: left top no-repeat url(../../../images/prod/close.png);
    background-size: 100% 100%;
}

#mask .container img{
    vertical-align: top;
    margin: .55rem 0 .28rem 0;
}

#mask .empty img{
    margin: .22rem 0 .15rem 0;
}

#mask .container p{
    margin: 0;
}

#mask .empty p{
    margin-bottom: .24rem;
}

#mask .tip p{
    margin-bottom: .24rem;
}

#mask .container .prompt{
    margin: .15rem 0 .35rem;
    color: #666;
    font-size: .26rem;
}

#mask .container button{
    vertical-align: top;
    margin-bottom: .47rem;
    width: 2.62rem;
    height: .67rem;
    color: #fff;
    font-size: .32rem;
    background-color: #35abe2;
    outline: none;
    border: none;
    border-radius: 8px;
}

/*#mask .entity{
    display: block;
}*/

#mask .entity form{
    margin: auto;
    width: 5.62rem;
}

#mask .entity form div{
    overflow: hidden;
}

#mask .entity input{
    box-sizing: border-box;
    padding: 0 .13rem;
    font-size: .29rem;
    line-height: .65rem;
    border-radius: 8px;
    border: 1px solid #e3e3e3;
}

#mask .entity .name{
    float: left;
    width: 1.91rem;
}

#mask .entity .telephone{
    float: right;
    width: 3.58rem;
}

#mask .entity .address{
    margin: .14rem 0 .29rem;
    width: 100%;
}