a {
  text-decoration: none;
}
#nav {
  border-bottom: 1px solid #dcdcdc;
}
#nav ul {
  display: table;
  width: 100%;
  overflow: hidden;
  background-color: white;
}
#nav li {
  display: table-cell;
  width: 33%;
  text-align: center;
  white-space: nowrap;
  position: relative;
}
#nav li.side {
  padding: 0 .32rem;
  width: 0.5%;
}
#nav li a {
  cursor: pointer;
  color: #666;
  font-size: .3rem;
  line-height: .86rem;
}
#nav li.active:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 10%;
  width: 80%;
  height: .05rem;
  background-color: #008bd2;
}
#nav li.active a {
  color: #008bd2;
}
#content p,
#content h1 {
  margin: 0;
}
#content .container {
  margin-top: .18rem;
  background-color: white;
}
#content .title {
  padding: 0 .32rem;
  font-size: .3rem;
  line-height: .86rem;
  overflow: hidden;
  border-bottom: 1px solid #dcdcdc;
}
#content .title p {
  float: left;
}
#content .title strong {
  float: right;
  color: #008cd6;
  font-weight: normal;
}
#content .content {
  position: relative;
  padding: 0 .32rem;
}
#content .content .link {
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
#content .content .content-li {
  padding: .26rem 0;
  font-size: .28rem;
  overflow: hidden;
  border-bottom: 1px solid #dcdcdc;
}
#content .content .content-li.last {
  border-bottom-width: 0;
}
#content .content .left {
  float: left;
  font-size: 0;
}
#content .content img {
  width: 1.45rem;
  height: 1.45rem;
  border: 1px solid #dcdcdc;
}
#content .content .center {
  float: left;
  margin-left: .2rem;
  line-height: 1;
}
#content .content .center h1 {
  max-width: 4.3rem;
  padding-bottom: .187rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: .3rem;
  font-weight: normal;
}
#content .content .center .color,
#content .content .center .price {
  color: #888;
}
#content .content .center .color em,
#content .content .center .price em {
  color: #008cd6;
  font-style: normal;
}
#content .content .center .price {
  margin-top: .173rem;
}
#content .content .center .gift,
#content .content .center .service {
  margin-top: .16rem;
  margin-bottom: -0.07rem;
}
#content .content .center .service {
  margin-top: .09rem;
}
#content .content .center .gift,
#content .content .center .service {
  font-size: 0;
  line-height: 1.5;
}
#content .content .center .gift p,
#content .content .center .service p {
  display: inline-block;
  vertical-align: top;
  font-size: .28rem;
}
#content .content .center .gift em,
#content .content .center .service em {
  display: inline-block;
  width: .73rem;
  line-height: .37rem;
  color: white;
  font-style: normal;
  text-align: center;
  border-radius: .047rem;
  background-color: #ffa200;
}
#content .content .center .gift ul,
#content .content .center .service ul {
  display: inline-block;
  vertical-align: top;
}
#content .content .center .gift li,
#content .content .center .service li {
  max-width: 3.29rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #333;
  font-size: .28rem;
}
#content .content .center .service ul {
  margin-left: .1rem;
}
#content .content .right {
  float: right;
  color: #999;
  line-height: .3rem;
}
#content .total {
  overflow: hidden;
  padding: .3rem .32rem;
  text-align: right;
  color: #333;
  font-size: 0;
  border-top: 1px solid #dcdcdc;
}
#content .total p {
  float: right;
  width: 100%;
  font-size: .28rem;
  line-height: 1;
}
#content .total em {
  color: #f00b0b;
  font-style: normal;
}
#content .total span {
  color: #666;
}
#content .total button {
  width: 1.87rem;
  height: .64rem;
  margin: .153rem 0 0 .26rem;
  padding: 0;
  color: white;
  font-size: .3rem;
  outline: none;
  border: none;
  border-radius: .053rem;
  background-color: #fe5152;
}
#content .total button.cancel {
  color: #666666;
  border: 0.015rem solid #666666;
  background-color: transparent;
}
#default.hide {
  display: none;
}
#default div {
  background-position: -1.75rem -1.6rem;
}
