#content p {
  margin: 0;
}
#content .title {
  padding: 0 .32rem;
  color: white;
  line-height: 1.2rem;
  background-color: #69c1ff;
  overflow: hidden;
}
#content .title .left {
  float: left;
  font-size: 0;
}
#content .title .left img {
  width: .37rem;
  height: .41rem;
  margin-right: .15rem;
}
#content .title .left span {
  display: inline-block;
  min-width: 3rem;
  font-size: .35rem;
  line-height: 1;
}
#content .title .right {
  float: right;
  font-size: 0;
}
#content .title .right img {
  width: .28rem;
  height: .28rem;
  margin-right: .1rem;
}
#content .title .right a {
  font-size: .3rem;
  line-height: 1;
}
#content .title img,
#content .title span,
#content .title a {
  vertical-align: middle;
}
#content .title a {
  color: white;
  text-decoration: none;
}
#content ul {
  padding: 0 .32rem 1.24rem .32rem;
  background-color: white;
}
#content li {
  padding: .23rem 0;
  font-size: .3rem;
  border-bottom: 1px solid #dcdcdc;
}
#content li div {
  overflow: hidden;
  line-height: .4rem;
}
#content .operation,
#content .balance {
  float: left;
  color: #353535;
}
#content .time,
#content .number {
  float: right;
}
#content .time,
#content .balance {
  font-size: .26rem;
}
#content .operation {
  max-width: 5rem;
  margin-bottom: .15rem;
  text-align: justify;
}
#content .time {
  color: #a0a0a0;
}
#content .reduce {
  color: #008bd2;
}
#content .add {
  color: #fd4f50;
}
#content .reduce,
#content .add {
  line-height: .3rem;
}
#content .balance {
  line-height: .3rem;
}
#default div {
  background-position: -3.35rem -1.6rem;
}
