body {
  padding-bottom: 1.02rem;
}
#content p,
#content h1 {
  margin: 0;
}
#content a {
  color: inherit;
  text-decoration: none;
}
#content .state {
  position: relative;
  padding-left: .6rem;
  color: white;
  font-size: .35rem;
  line-height: 1.75rem;
  background-color: #69c1ff;
}
#content .state img {
  position: absolute;
}
#content .state.no-pay img {
  top: .15rem;
  right: .58rem;
  width: 2.7rem;
  height: 1.5rem;
}
#content .state.no-sign img {
  top: .18rem;
  right: .63rem;
  width: 3.15rem;
  height: 1.52rem;
}
#content .state.trade-completed img {
  top: .18rem;
  right: .47rem;
  width: 3.2rem;
  height: 1.5rem;
}
#content .state.trade-closed img {
  top: .25rem;
  right: .6rem;
  width: 2.25rem;
  height: 1.32rem;
}
#content .state.no-check img {
  top: .15rem;
  right: .53rem;
  width: 2.9rem;
  height: 1.5rem;
}
#content .state.trade-refunded img {
  top: .13rem;
  right: .86rem;
  width: 1.76rem;
  height: 1.5rem;
}
#content .recipient {
  font-size: 0;
  margin: .17rem 0;
  background-color: white;
}
#content .recipient .container {
  padding: .32rem 0;
}
#content .recipient .container-top {
  border-bottom: 1px solid #dcdcdc;
}
#content .recipient .left {
  display: inline-block;
  width: 14%;
  text-align: center;
  vertical-align: middle;
}
#content .recipient .img-recipient {
  width: .36rem;
  height: .53rem;
}
#content .recipient .img-car {
  width: .42rem;
  height: .37rem;
}
#content .recipient .center,
#content .recipient .right {
  display: inline-block;
  vertical-align: middle;
}
#content .recipient .center {
  width: 74%;
  font-size: .3rem;
}
#content .recipient .right1 {
  width: 86%;
  font-size: .3rem;
}
#content .recipient .right2 {
  width: 12%;
  text-align: center;
}
#content .recipient .right2 img {
  width: .19rem;
  height: .34rem;
}
#content .recipient .right-container {
  margin-right: .31rem;
}
#content .recipient .top {
  overflow: hidden;
}
#content .recipient .top,
#content .recipient .sign {
  color: #333;
  margin-bottom: .16rem;
}
#content .recipient .sign {
  margin-bottom: .2rem;
}
#content .recipient .receiver {
  float: left;
  max-width: 3.8rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: .33rem;
  line-height: 1;
}
#content .recipient .phone {
  float: right;
  line-height: .33rem;
}
#content .recipient .address,
#content .recipient .sign {
  color: #666;
  text-align: justify;
  word-break: break-all;
}
#content .recipient .sign {
  color: #34992c;
}
#content .recipient .time {
  color: #888;
  font-size: .26rem;
  line-height: 1;
}
#content .order-detail {
  padding: 0 .32rem;
  background-color: white;
}
#content .goods-list li {
  position: relative;
  padding: .26rem 0;
  overflow: hidden;
  font-size: .28rem;
  border-bottom: 1px solid #dcdcdc;
}
#content .goods-list .left {
  float: left;
  font-size: 0;
}
#content .goods-list img {
  width: 1.45rem;
  height: 1.45rem;
  border: 1px solid #dcdcdc;
}
#content .goods-list h1 {
  font-size: 0;
}
#content .goods-list h1 a {
  display: inline-block;
  max-width: 4.3rem;
  padding-bottom: .187rem;
  font-size: .3rem;
  line-height: 1;
  font-weight: normal;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
#content .goods-list .center {
  float: left;
  margin-left: .2rem;
  line-height: 1;
}
#content .goods-list .right {
  position: absolute;
  right: 0;
  top: .26rem;
  color: #999;
  line-height: .3rem;
}
#content .goods-list .price {
  max-width: 4.3rem;
  padding-bottom: .16rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #888;
}
#content .goods-list .price em {
  color: #008cd6;
  font-style: normal;
}
#content .goods-list .amount {
  color: #888;
}
#content .goods-list .amount em {
  color: #333;
  font-style: normal;
}
#content .goods-list .amount,
#content .goods-list .gift,
#content .goods-list .service {
  margin-top: .16rem;
  margin-bottom: -0.07rem;
}
#content .goods-list .gift {
  margin-top: 0;
}
#content .goods-list .service {
  margin-top: .09rem;
}
#content .goods-list .gift,
#content .goods-list .service {
  font-size: 0;
  line-height: 1.5;
}
#content .goods-list .gift p,
#content .goods-list .service p {
  display: inline-block;
  font-size: .28rem;
  vertical-align: top;
}
#content .goods-list .gift em,
#content .goods-list .service em {
  display: inline-block;
  width: .73rem;
  line-height: .37rem;
  color: white;
  font-style: normal;
  text-align: center;
  border-radius: .047rem;
  background-color: #ffa200;
}
#content .goods-list .gift ul,
#content .goods-list .service ul {
  display: inline-block;
  vertical-align: top;
}
#content .goods-list .gift li,
#content .goods-list .service li {
  max-width: 3.29rem;
  padding: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #333;
  font-size: .28rem;
  border-bottom-width: 0;
}
#content .goods-list .service ul {
  margin-left: .1rem;
}
#content .comment {
  padding: .3rem 0;
  color: #888;
  font-size: .3rem;
  text-align: justify;
  word-break: break-all;
  border-bottom: 1px solid #dcdcdc;
  overflow: hidden;
}
#content .comment p {
  float: left;
  width: 100%;
}
#content .comment em {
  display: inline-block;
  width: .85rem;
  line-height: .41rem;
  margin: 0 .12rem .15rem .12rem;
  color: white;
  font-style: normal;
  text-align: center;
  border-radius: .04rem;
  background-color: #fd4f50;
}
#content .money {
  font-size: 0;
  padding: .3rem 0;
  border-bottom: 1px solid #dcdcdc;
}
#content .money div {
  display: inline-block;
  font-size: .3rem;
  line-height: 160%;
  vertical-align: middle;
}
#content .money .left {
  color: #888;
  text-align: right;
}
#content .money .right {
  color: #333;
  margin-left: .1rem;
}
#content .money strong {
  color: #fd4f50;
  font-weight: normal;
}
#content .express {
  padding: .3rem 0 .36rem 0;
  color: #888;
  font-size: .28rem;
  line-height: 160%;
  overflow: hidden;
}
#content .express p {
  float: left;
  width: 100%;
}
#content .total {
  position: fixed;
  width: 100%;
  max-width: 7.2rem;
  bottom: 0;
  background-color: #f4f4f4;
  border-top: 2px solid #dcdcdc;
}
#content .total p {
  margin-left: .32rem;
  color: #333;
  font-size: .3rem;
  line-height: 1rem;
}
#content .total p em {
  color: #fd4f50;
  font-style: normal;
}
#content .total button {
  float: right;
  width: 1.97rem;
  height: 1rem;
  padding: 0;
  color: white;
  font-size: .34rem;
  outline: none;
  border: none;
  border-left: 1px solid #dcdcdc;
  background-color: #fe5152;
}
#content .total button.cancel {
  color: #666;
  background-color: transparent;
}
