<!DOCTYPE html>
<html>
<head lang="cn">
    <meta charset="UTF-8">
    <title>商品详情</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>
    <meta name="format-detection" content="telephone=no,address=no,email=no"/>
    <meta name="mobileOptimized" content="width"/>
    <meta name="handheldFriendly" content="true"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <script src="../../js/project/common/global.js"></script>
    <link rel="stylesheet" href="../../css/base/normalize.css">
    <link rel="stylesheet" href="../../css/base/layout.css">
    <link rel="stylesheet" href="../../css/web-pages/product/detail.css">
</head>
<body>
<header id="header">
    <div class="header__normal">
        <a href="javascript:history.go(-1)" class="header__link header__link_back"><i class="icon icon-back"></i></a>
        <h1 class="header__title">
            <div class="header__title__tab-container">
                <ul id="j_prodTabs" class="header__title__tab">
                    <li class="header__title__tab__item on">商品</li>
                    <li class="header__title__tab__item">详情</li>
                    <li class="header__title__tab__item">评价</li>
                </ul>
                <span class="header__title__tab-indicator"></span>                
            </div>
        </h1>
        <a class="header__link header__link_menu" href="javascript:;"><i class="icon icon-menu"></i></a>      
    </div>
    <!--商品详情tab导航-->
    <div id="j_headerProdDetailNav" class="header__detail__nav">        
        <ul id="j_tabBox" class="detail__nav__list">
            <li class="detail__nav__item on">图文详情</li>
            <li class="detail__nav__item">参数</li>
            <li class="detail__nav__item" id="J_evaluation">评测</li>
        </ul>   
    </div>
</header>

<main id="content" class="prod-detail">

    <input type="hidden" value="10126" id="j_spuId" />

    <div id="j_pageSwipe" class="page-slider page-swipe">
        <section class=" swipe-wrapper">
            <div class="page-slider__item product" style="display: block;">
                <!--轮播图片-->
                <div id="j_prodImageSlider" class="product__image-slider">
                    <div class="swipe-wrapper swipe">
                        <div class="swipe-wrap J_product_image_box">
                            <div v-for="imageItem in imageList"><img :src="imageHost+imageItem.bigPic" :hdImage="imageHost+imageItem.hdPic" alt="商品图片" /></div>
                        </div>
                    </div>
                    <div class="indicator"><span v-for="n in imageList.length" :class="{on:n==currentIndex}"></span></div>
                </div>
                
                <!--商品信息-->
                <div id="j_prodInfo" class="product__info">
                    <div class="wrapper">
                        <h2 class="product__info__title">{{commoditySpu.name}}</h2>
                        <div class="product__info__sale-point">{{commoditySpu.brief}}</div>                    
                    </div>
                </div>
                
                <!--价格/优惠-->
                <div id="j_prodSummary" class="product__summary">
                    <div class="wrapper">
                        <div class="product__summary__left">
                            <div class="product__summary__current-price"><dfn>&yen;</dfn>{{commoditySpu.salePrice.toFixed(2)}}</div>
                            <div v-if="commoditySpu.marketPrice > commoditySpu.salePrice" class="product__summary__original-price"><dfn>&yen;</dfn>{{commoditySpu.marketPrice}}</div>
                        </div>
                        <div class="product__summary__right">
                            <ul>
                                <li v-if="commoditySpu.vcoin && commoditySpu.vcoin >0" class="product__summary__promotion"><span class="label-promotion">V币</span>购买即赠送{{commoditySpu.vcoin}}V币</li>
                                <li v-if="commodityGiftList && commodityGiftList.length" class="product__summary__promotion" @click="showGiftList()"><span class="label-promotion">赠品</span>价值{{giftTotalPrice}}元<i class="icon-more"></i></li>
                                <li v-if="userFreepost && commoditySpu.salePrice > 68" class="product__summary__promotion"><span class="label-promotion">免邮</span>满68元免邮</li>
                            </ul>                    
                        </div>                                    
                    </div>
                </div>
                <!--四大金刚-->
                <div class="product__guarantees">
                    <div class="wrapper"></div>
                </div>
                
                <!--选择结果-->
                <div id="j_prodSelection" class="product__selection">
                    <div class="wrapper">
                        <div class="product__selection__summary" @click="showPop">
                            已选：<span class="item" v-if="netTypeName">{{netTypeName}}</span>
                    <span class="item" v-if="storageName">{{storageName}}</span>
                    <span class="item" v-if="skuName">{{skuName}}</span>
                    <span class="item">{{number}}件</span><i class="icon-more"></i>
                        </div>
                        <div v-if="canUseHuabei" class="product__selection__huabei">支持花呗分期</div>                    
                    </div>
                </div>

                <!--评价-->
                <div class="product__evaluation" id="j_latestProdEvaluation">
                    <h2 class="product__evaluation__title">
                        <div class="wrapper">
                        <a class="link-all-evaluations" @click="viewAll()" href="javascript:;">更多评价<i class="icon-more"></i></a> 商品评价<span id="remarkCountSpan"> ({{remarkCount}}) </span></div>
                    </h2>                
                    <ul class="evaluation__list">
                        <li class="evaluation__item" v-for="remarkItem in remarkList">
                            <div class="wrapper">
                                <div class="evaluation__item__info">
                                    <div class="date-time">{{remarkItem.remark.createdAt}}</div>
                                    <div class="user-name">{{remarkItem.remark.nickName}}</div>
                                    <span class="star-box"><i :style="{width:(remarkItem.remark.summaryScore/5*100)+'%'}"></i></span>
                                </div>
                                <div class="evaluation__item__content">
                                    <div class="text">{{remarkItem.remark.content}}</div>
                                    <div class="evaluate-pic" v-if="remarkItem.remark.hasPicture == 1">
                                        <a v-for="n in 3" v-if="remarkItem.remark['picture'+n]" :data-img="imageHost+remarkItem.remark['picture'+n]" href="javascript:void(0);"><img class="J_remarkpic" :src="imageHost+remarkItem.remark['picture'+n+'Thumbnail']" alt=""><b></b></a>
                                    </div>
                                    <div v-if="remarkItem.remarkReplyList.length" class="reply">官方回复：{{remark.remarkReplyList[0].replyContent}}</div>
                                    <div v-if="remarkItem.remarkReplyList.length == 2" class="append"><em>[追评]</em>{{remark.remarkReplyList[1].replyContent}}</div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="product__evaluation__bottom"  @click="viewAll()">查看更多评价<i class="icon-more"></i></div>
                </div> 
                <div class="product__tip__end">已经到底了~</div>
            </div>

            <!--商品详情图片及参数-->
            <div id="j_detailTabList" class="page-slider__item detail">
                <div class="detail__tab detail__tab_images" style="display: block;">                
                    <div class="images__pre-box" v-html="commoditySpuExt.wapDetail"></div>
                </div>
                <div class="detail__tab detail__tab_param">
                    <dl class="detail__param__list">
                    <template v-if="specInfo.specValue" v-for="specInfo in spuSpecinfoList">                    
                        <dt>{{specInfo.specName}}</dt>
                        <dd>{{specInfo.specValue}}</dd>                        
                    </template>
                    </dl>                
                </div>
            </div>

            <div id="j_prodEvaluation" class="page-slider__item evaluation">
                <div class="evaluation__comprehensive">
                    <div class="wrapper">
                        <div class="total-points">
                            <div class="points-box">{{remarkInfo.remarkScore.summaryScore}}</div>
                            <div class="text">综合评价</div>
                        </div>
                        <div class="each-points">
                            <ul>
                                <li>商品的综合评价 <span class="star-box"><i :style="{width:(remarkInfo.remarkScore.summaryScore/5)*100+'%'}"></i></span></li>
                                <li>宝贝与描述相符 <span class="star-box"><i :style="{width:(remarkInfo.remarkScore.matchScore/5)*100+'%'}"></i></span></li>
                                <li>卖家的服务态度 <span class="star-box"><i :style="{width:(remarkInfo.remarkScore.serviceScore/5)*100+'%'}"></i></span></li>
                                <li>卖家的发货速度 <span class="star-box"><i :style="{width:(remarkInfo.remarkScore.deliveryScore/5)*100+'%'}"></i></span></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <ul class="evaluation__list">
                    <li class="evaluation__item" v-for="remarkItem in remarkInfo.remarkList">
                        <div class="wrapper">
                            <div class="evaluation__item__info">
                                <div class="date-time">{{remarkItem.remark.createdAt}}</div>
                                <div class="user-name">{{remarkItem.remark.nickName}}</div>
                                <span class="star-box"><i :style="{width:(remarkItem.remark.summaryScore/5*100)+'%'}"></i></span>
                            </div>
                            <div class="evaluation__item__content">
                                <div class="text">{{remarkItem.remark.content}}</div>
                                <div class="evaluate-pic" v-if="remarkItem.remark.hasPicture == 1">
                                    <a v-for="n in 3" v-if="remarkItem.remark['picture'+n]" :data-img="imageHost+remarkItem.remark['picture'+n]" href="javascript:void(0);"><img class="J_remarkpic" :src="imageHost+remarkItem.remark['picture'+n+'Thumbnail']" alt=""><b></b></a>
                                </div>
                                <div v-if="remarkItem.remarkReplyList.length" class="reply">官方回复：{{remark.remarkReplyList[0].replyContent}}</div>
                                <div v-if="remarkItem.remarkReplyList.length == 2" class="append"><em>[追评]</em>{{remark.remarkReplyList[1].replyContent}}</div>
                            </div>
                        </div>
                    </li>
                </ul>           
            </div>
        </section>        
    </div>    

    <!--属性选择弹窗-->
    <div id="j_selectionPop">
        <div class="page-mask" v-if="isShow" @click="isShow = false"></div>
        <div class="prod__cover" :class="{'move-in':isShow}">
            <div class="cover__summary">
                <div class="cover__img"><img v-if="image" :src="imageHost+image.smallPic"></div>
                <div class="cover__main">
                    <i class="icon-close" @click="isShow = false"></i>
                    <div class="cover__summary__price"><dfn>&yen;</dfn>{{currentSku.salePrice.toFixed(2)}}</div>
                    <div class="cover__summary__stock">已选：
                    <span class="item" v-if="netTypeName">{{netTypeName}}</span>
                    <span class="item" v-if="storageName">{{storageName}}</span>
                    <span class="item" v-if="currentSku">{{currentSku.commodityAttrItem.name}}</span>
                    <span class="item">{{number}}件</span></div>
                </div>
            </div>
            <div class="cover__body">
                <div class="sku-control">
                    <ul class="list">
                        <li class="item" v-if="phoneCapacities&&phoneCapacities.length">
                            <h2>选择版本容量</h2>
                            <div class="list__item__options">
                                <template v-for="capacity in phoneCapacities">
                                    <label :netType="netType" :storage="storage" v-for="storageObj in capacity.storages" 
                                        :class="{on:(netType == capacity.netType.netTypeCode && storage == storageObj.storageCode)}" @click="changeSpu(capacity.netType.netTypeCode,storageObj.storageCode)">{{capacity.netType.netTypeName+storageObj.storageName}}</label>                                    
                                </template>
                            </div>
                        </li>
                        <li class="item" v-if="normalCommodity.commoditySpu.containColor == 1">
                            <h2>选择颜色</h2>
                            <div class="list__item__options">
                                <label :skuId="skuId" v-for="sku in normalCommodity.commoditySkuList" :class="{on:sku.id == currentSku.id}" @click="skuId = sku.id">{{sku.commodityAttrItem.name}}</label>
                            </div>
                        </li>
                        <li class="item" v-if="productSuiteInfos && productSuiteInfos.length">
                            <h2>选择套餐</h2>
                            <div class="list__item__options">
                                <label class="on">官方标配</label>
                                <label>套餐一</label>
                                <label>套餐二</label>
                            </div>
                        </li>
                    </ul>
                </div>
                <!--服务选项-->
                <div class="service-control" v-if="(normalCommodity.brokenScreenSvcList||[]).length || (normalCommodity.extendedWarrantySvcList||[]).length">
                    <ul class="list">
                        <li class="item">
                            <h2>手机服务（可选）</h2>
                            <div class="list__item__options">
                                <a class="service-control__link-detail" href="#">详情<i class="icon-more"></i></a>
                                <label @click="brokenId = (brokenId?'':broken.id)" class="break" :class="{on:broken.id == brokenId}" v-for="broken in normalCommodity.brokenScreenSvcList">{{broken.name}} <dfn>&yen;</dfn>{{broken.salePrice.toFixed(2)}}</label>
                                    
                                <label @click="extendId = (extendId?'':extend.id)" class="delay" :class="{on:extend.id == extendId}" v-for="extend in normalCommodity.extendedWarrantySvcList">{{extend.name}} <dfn>&yen;</dfn>{{extend.salePrice.toFixed(2)}}</label>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="number-control">
                    <ul class="list">
                        <li class="item">
                            <h2>数量</h2>
                            <div class="number-container">
                                <button class="decrease" :class="{disabled:number<=1}" @click="reduceNum()">-</button><input :value="number" type="number" min="1" max="3" readonly /><button class="increase" :class="{disabled:number>=3}" @click="addNum()">+</button>
                            </div>
                        </li>
                    </ul>
                </div>

                <div id="j_huabeiInstallment" class="progressive-control">
                    <ul class="list">
                        <li class="item">
                            <h2>花呗分期</h2>
                            <div class="list__item__options">
                                <label>
                                    <span class="message">
                                        <dfn>&yen;</dfn>688起<span>x3</span>期
                                    </span>
                                    <br>
                                    <span class="fee">（0手续费）</span>
                                </label>
                                <label>
                                    <span class="message">
                                        <dfn>&yen;</dfn>348起<span>x6</span>期
                                    </span>
                                    <br>
                                    <span class="fee">（0手续费）</span>
                                </label>
                                <label>
                                    <span class="message">
                                        <dfn>&yen;</dfn>288起<span>x9</span>期
                                    </span>
                                    <br>
                                    <span class="fee">（0手续费）</span>
                                </label>
                                <label>
                                    <span class="message">
                                        <dfn>&yen;</dfn>168起<span>x12</span>期
                                    </span>
                                    <br>
                                    <span class="fee">（0手续费）</span>
                                </label>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="bottom-fixed">
                <a v-if="showShoppingCart" class="bottom-fixed__button add" @click="submit('add')" href="javascript:;">加入购物车</a>
                <a v-if="panicBuy == 1" class="bottom-fixed__button" @click="submit('second')" href="javascript:;">立即秒杀</a>
                <a v-else class="bottom-fixed__button buy" :class="fullPay?'full':'buy'" @click="submit('buy')" href="javascript:;">{{fullPay?'全款预定':'立即购买'}}</a>
            </div>
        </div>
    </div>
    
    <!--赠品弹窗-->
    <div id="j_giftListPop">
        <div class="page-mask" v-if="isShow" @click="hide()"></div>
        <div class="gift-cover" :class="{'move-in':isShow}">
            <h2 class="gift-cover__title">赠品详情<i class="icon-close" @click="hide()"></i></h2>
            <div class="gift-cover__content content-wrap">
                <ul>
                    <li v-for="gift in commodityGiftList" class="gift-cover__item">
                        <img :src="imageHost+gift.smallPic" alt="">
                        <div class="name">{{gift.name}}</div>
                        <div class="price"><dfn>&yen;</dfn>{{gift.salePrice}}</div>
                    </li>
                </ul>
            </div>
            <div class="gift-cover__bottom">
                <a href="javascript:;" class="btn-close" @click="hide()">关闭</a>
            </div>            
        </div>
        
    </div>

    <section id="j_bottomBar" class="bottom-fixed" style="display: none;">
        <div class="bottom-fixed__left">
            <a class="bottom-fixed__link collection" href="javascript:;"></a>
            <a class="bottom-fixed__link shoppingcart" href="/wap/shoppingcart"></a>
        </div>
        <div class="bottom-fixed__right">          
            <a v-if="showShoppingCart" class="bottom-fixed__button add" @click="submit('add')" href="javascript:;">加入购物车</a>
            <a v-if="panicBuy == 1" class="bottom-fixed__button" @click="submit('second')" href="javascript:;">立即秒杀</a>
            <a v-else class="bottom-fixed__button buy" :class="fullPay?'full':'buy'" @click="submit('buy')" href="javascript:;">{{fullPay?'全款预定':'立即购买'}}</a>
        </div>
    </section>
</main>

<script>
    var imageHost = "https://swsdl.vivo.com.cn/vivoshop/";
    var webCtx = "http://vivoshop.vivo.com.cn:8082";
</script>

<script src="../../js/plugins/zepto/zepto.js"></script>
<script src="../../js/plugins/zepto/extends/fx.js"></script>
<script src="../../js/plugins/zepto/extends/fx_methods.js"></script>
<script src="../../js/plugins/zepto/extends/ajax.js"></script>
<script src="../../js/project/common/common.js"></script>

<script src="../../js/plugins/toast/toast.js"></script>
<script src="../../js/plugins/vue/vue.js"></script>

<script src="../../js/plugins/swipe/swipe.js"></script>
<script src="../../js/project/product/detail.js"></script>


</body>
</html>