body{
    background-color: #fff;
}

#footer{
    padding-top: .18rem;
    background-color: #f4f4f4;
}

#footer section{
    background-color: #fff;
}

#content{
    padding-top: .17rem;
    background-color: #f4f4f4;
}

#content table{
    width: 100%;
    font-size: .29rem;
    background-color: #fff;
    table-layout: fixed;
}

#content thead tr{
    border-bottom: 2px solid #dcdcdc;
}

#content th{
    height: .86rem;
    color: #666;
    font-weight: normal;
}

#content th:first-child{
    padding-left: .32rem;
    width: 40%;
    text-align: left;
}

#content th:last-child{
    width: 21%;
}

#content td{
    height: 2.19rem;
    color: #888;
    text-align: center;
    word-break: break-all;
    border: 1px solid #dcdcdc;
}

#content tbody tr:last-child td {
     border-bottom: 3px solid #dcdcdc;
 }

#content td:first-child{
    padding-left: .32rem;
    text-align: left;
    border-left: none;
}

#content td:last-child{
    padding: 0 .13rem;
    border-right: none;
}

#content .time{
    margin-bottom: .1rem;
    font-size: .24rem;
}

#content .prize{
    color: #000;
    line-height: .39rem;
}

#content td p{
    margin: 0;
    line-height: 1;
}

#content td hr{
    margin: 0 auto;
    width: 1.17rem;
    border: none;
    border-top: 2px solid #ccc;
}

#content td button{
    width: 1.88rem;
    height: .65rem;
    color: #fff;
    border: 2px solid rgb(0,140,214);
    border-radius: 6px;
    background-color: rgb(0,140,214);
}

#content td:nth-child(2) p{
    padding-left: .29rem;
    text-align: left;
    line-height: .39rem;
}

#default div{
    width: 2.24rem;
    height: 1.71rem;
    background-image: url("../../images/common/icon-no-prize.png");
}

#mask{
    display: none;
    position: fixed;
    z-index: 20;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(127,127,127,0.9);
}

#mask .table{
    display: table;
    width: 100%;
    height: 100%;
}

#mask .table-cell{
    display: table-cell;
    vertical-align: middle;
}

#mask .container{
    position: relative;
    margin: auto;
    width: 89%;
    color: #333;
    font-size: .33rem;
    line-height: 1;
    text-align: center;
    background-color: #fff;
}

#mask .close{
    position: absolute;
    right: .19rem;
    top: .19rem;
    width: .33rem;
    height: .33rem;
    background: left top no-repeat url(../../images/prod/close.png);
    background-size: 100% 100%;
}

#mask .container p{
    margin: 0;
    padding: .7rem 0 .48rem;
}

#mask .container form{
    margin: auto;
    width: 5.62rem;
}

#mask .container form div{
    overflow: hidden;
}

#mask .container input{
    box-sizing: border-box;
    padding: 0 .13rem;
    font-size: .29rem;
    line-height: .65rem;
    border-radius: 8px;
    border: 1px solid #e3e3e3;
}

#mask .container .name{
    float: left;
    width: 1.91rem;
}

#mask .container .telephone{
    float: right;
    width: 3.58rem;
}

#mask .container .address{
    margin: .14rem 0 .29rem;
    width: 100%;
}

#mask .container button{
    vertical-align: top;
    margin-bottom: .47rem;
    width: 2.62rem;
    height: .67rem;
    color: #fff;
    font-size: .32rem;
    background-color: #35abe2;
    outline: none;
    border: none;
    border-radius: 8px;
}
