a {
  text-decoration: none;
}

#head {
  position: relative;
  padding-top: .6rem;
  margin-bottom: .19rem;
  background-color: #69c1ff;
  color: white;
  text-align: center;
}

#head .top {
  position: absolute;
  top: .3rem;
  font-size: 0;
}

#head .top.left {
  left: .3rem;
}

#head .top.right {
  right: .3rem;
}
#head .top.right li {
  float: left;
}

#head .top.right .shopcart {
  position: relative;
  margin-right: .5rem;
}

#head .top.right a,
#head .top.left{
  display: block;
  width: .5rem;
  height: .42rem;
  background: url("../../images/common/icon-header-white.png") no-repeat;
  background-size: 2.48rem .41rem;
}

#head .top.left{
  background-position: -.5rem 0;
}

#head .top .home a{
  background-position: right 0;
}


#head .top .num {
  display: none;
  padding: 0 .107rem;
  position: absolute;
  right: -0.19rem;
  top: -0.19rem;
  height: .36rem;
  line-height: .36rem;
  text-align: center;
  font-size: .25rem;
  color: #ffffff;
  background-color: #fe5a5b;
  border-radius: .18rem;
}

#head .photo-wrapper {
  display: inline-block;
  vertical-align: bottom;
  font-size: 0;
  border-radius: 50%;
  border: 0.08rem solid #5db2ee;
}

#head .photo {
  padding: .04rem;
  background-color: white;
  border-radius: 50%;
}

#head .photo img {
  width: 1.68rem;
  height: 1.68rem;
  border-radius: 50%;
}

#head .name {
  font-size: .37rem;
  line-height: 1;
  margin: 0;
  padding: .17rem 0 0;
}

#head .vcoin {
  margin: .1rem 0 0;
  padding: .1rem 0 .3rem;
  font-size: 0;
}

#head .vcoin a{
  display: inline-block;
  vertical-align: top;
  padding: 0 .26rem;
  color: #fff;
  font-size: .267rem;
  line-height: .47rem;
  border: 1px solid #fff;
  border-radius: .235rem / 50%;
}

#head nav {
  overflow: hidden;
  border-bottom: 1px solid #e7e7e7;
  background-color: #fff;
}

#head nav a {
  float: left;
  box-sizing: border-box;
  width: 25%;
  font-size: 0;
  text-align: center;
  border-left: 1px solid #e7e7e7;
}

#head nav a:first-child{
  border-left: none;
}

#head nav div {
  line-height: .94rem;
}

#head nav img{
  vertical-align: middle;
}

#head nav .indent img{
  width: .46rem;
  height: .57rem;
}

#head nav .refund img{
  width: .59rem;
  height: .59rem;
}

#head nav .lottery img{
  width: .54rem;
  height: .51rem;
}

#head nav .coupon img{
  width: .58rem;
  height: .42rem;
}

#head nav p {
  margin: 0 0 .22rem;
  color: #333;
  font-size: .2667rem;
  line-height: 1;
}

#content {
  background-color: #fff !important;
  border-top: 1px solid #dcdcdc;
  border-bottom: 1px solid #dcdcdc;
}

#content .title {
  font-size: 0;
  padding: .25rem .31rem;
  overflow: hidden;
  border-bottom: 1px solid #dcdcdc;
}

#content .title h1 {
  float: left;
  margin: 0;
}

#content .title img {
  width: .38rem;
  height: .34rem;
  margin-right: .14rem;
  vertical-align: middle;
}

#content .title span {
  display: inline-block;
  vertical-align: middle;
  font-size: .32rem;
  line-height: 1;
  color: #333;
  font-weight: normal;
}

#content .content {
  margin: 0 .32rem;
}

#content .content li {
  padding: .28rem .08rem;
  font-size: 0;
  border-bottom: 1px solid #dcdcdc;
}

#content .content li.last {
  border-bottom-width: 0;
}

#content .content .left {
  display: inline-block;
  width: 71%;
  vertical-align: middle;
}

#content .content .left div {
  width: 69%;
  font-size: .29rem;
}

#content .content .right {
  width: 28%;
  text-align: right;
}

#content .content div {
  display: inline-block;
  vertical-align: middle;
}

#content .content img {
  width: 31%;
  height: 1.42rem;
  vertical-align: middle;
}

#content .content p,
#content .content span {
  margin: 0 0 0 .25rem;
}

#content .content p {
  margin-bottom: .2rem;
  color: #333;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#content .content .deleted {
  margin: 0;
  color: #bcbcbc;
  font-size: .29rem;
  line-height: 1.6;
}

#content .content span {
  color: #888;
}

#content .content .right a {
  display: inline-block;
  box-sizing: border-box;
  width: 1.6rem;
  height: .65rem;
  line-height: .61rem;
  color: #008bd1;
  font-size: .27rem;
  text-align: center;
  border: .023rem solid #008bd1;
  border-radius: .053rem;
  border-width: 2px;
}
@media screen and (max-width: 719px) {
  #content .content .right a {
    border-width: 1px;
    line-height: .63rem;
  }
}
#default {
  position: relative;
  padding: .37rem 0 1.6rem 0;
}
#default div {
  margin-bottom: .13rem;
  width: 2.04rem;
  height: 1.69rem;
  background-image: url("../../images/membercenter/icon-no-collection.png");
}
#default p{
  color: #888;
}
#default button {
  position: absolute;
  left: 50%;
  bottom: 0.65rem;
  width: 2.2rem;
  height: .64rem;
  margin-left: -1.1rem;
  padding: 0;
  color: #008bd1;
  font-size: .2933rem;
  outline: none;
  border: 2px solid #008bd1;
  border-radius: .066rem;
  background-color: transparent;
}
@media screen and (max-width: 719px) {
  #default button {
    border-width: 1px;
  }
}
