#content p,
#content h1 {
  margin: 0;
}
#content .title {
  padding: .25rem .3rem;
  margin: .2rem 0;
  font-size: 0;
  background-color: white;
}
#content .title .left {
  display: inline-block;
  vertical-align: top;
  margin-right: .3rem;
}
#content .title img {
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid #dcdcdc;
}
#content .title .right {
  display: inline-block;
  vertical-align: top;
  color: #333;
  font-size: .3rem;
}
#content .title .state {
  color: #17af58;
  font-size: .32rem;
}
#content .title p {
  margin-bottom: .1rem;
}
#content .content {
  background-color: white;
}
#content .content h1 {
  padding: .24rem .3rem;
  color: #333;
  font-size: .32rem;
  font-weight: normal;
  border-bottom: 1px solid #dcdcdc;
}
#content .content div {
  margin: .4rem 0 0 .7rem;
  padding: 0 0 .15rem .65rem;
  border-left: 0.023rem solid #2fd375;
  border-width: 2px;
}
@media screen and (max-width: 719px) {
  #content .content div {
    border-width: 1px;
  }
}
#content .content ul {
  float: left;
  margin-top: -0.45rem;
}
#content .content li {
  color: #888;
  position: relative;
  padding: .2rem .35rem .24rem 0;
  border-bottom: 1px solid #dcdcdc;
}
#content .content li::after {
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}
#content .content li.last {
  border-bottom-width: 0;
}
#content .content p {
  float: left;
  width: 100%;
  font-size: .2933rem;
  line-height: .4533rem;
  text-align: justify;
}
#content .content .time {
  font-size: .2533rem;
  line-height: .4933rem;
}
#content .content i {
  position: absolute;
  margin-left: -3px;
  margin-top: -2px;
  width: .16rem;
  height: .16rem;
  left: -0.73rem;
  top: .37rem;
  border-radius: 50%;
  border: 0.023rem solid #2fd375;
  background-color: #2fd375;
  border-width: 2px;
}
@media screen and (max-width: 719px) {
  #content .content i {
    border-width: 1px;
  }
}
@media screen and (max-width: 719px) {
  #content .content i {
    margin-left: -1.5px;
    margin-top: -1px;
  }
}
#content .content .first {
  color: #17af58;
}
#content .content .first i {
  background-color: white;
}
#content .default {
  position: relative;
  padding: .25rem .3rem;
  margin-bottom: 1.6rem;
  background-color: white;
}
#content .default a {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
#content .default img {
  float: right;
  width: .19rem;
  height: .34rem;
  margin: .235rem 0;
}
#content .default p {
  line-height: 100%;
}
#content .default .top {
  color: #666;
  font-size: .32rem;
  margin-bottom: .2rem;
}
#content .default .bottom {
  color: #999;
  font-size: .29rem;
}
