#content p {
  margin: 0;
}
#content ul {
  padding: .45rem .35rem .3rem .35rem;
}
#content li {
  height: 2.35rem;
  margin-bottom: .33rem;
  border: 1px solid #dcdcdc;
}
#content li.last {
  margin-bottom: 0;
}
#content .container {
  display: table;
  width: 100%;
  background-color: white;
}
#content .top,
#content .bottom {
  display: table-row;
}
#content .top {
  height: 32%;
}
#content .bottom {
  height: 68%;
}
#content .title,
#content .content {
  display: table-cell;
  width: 100%;
  padding: 0 .35rem;
  vertical-align: middle;
}
#content .title {
  color: white;
  font-size: .28rem;
  line-height: 1;
}
#content .time {
  float: left;
}
#content .state {
  float: right;
}
#content .content {
  position: relative;
  font-size: 0;
}
#content .content div {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  z-index: 5;
  width: 3.85rem;
}
#content .money {
  display: inline-block;
  margin-right: .25rem;
  max-width: 1.65rem;
  font-size: .34rem;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}
#content em {
  font-size: .81rem;
  font-style: normal;
}
#content .name {
  font-size: .3rem;
  margin-bottom: .21rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#content .number {
  font-size: .24rem;
}
#content img {
  position: absolute;
}
#content .unused .title {
  background: left top repeat-x url("../../images/membercenter/coupon/unused-bg.gif");
  background-size: 100% 100%;
}
#content .unused .content {
  overflow: hidden;
}
#content .unused .money {
  color: #ff4a4a;
}
#content .unused .name {
  color: #5b5b5b;
}
#content .unused .number {
  color: #888;
}
#content .unused img {
  right: -0.26rem;
  bottom: -0.26rem;
  width: 1.5rem;
  height: 1.5rem;
}
#content .dated-used .title {
  background: left top repeat-x url("../../images/membercenter/coupon/used-bg.gif");
  background-size: 100% 100%;
}
#content .dated-used .money {
  color: #e2e2e2;
}
#content .dated-used .name,
#content .dated-used .number {
  color: #d6d6d6;
}
#content .dated-used img {
  right: .075rem;
  bottom: .21rem;
  width: 1.81rem;
  height: 1.48rem;
  z-index: 10;
}
#default div {
  width: 2.5rem;
  height: 1.51rem;
  background-image: url("../../images/common/icon-no-coupon.png");
}
#default.prompt{
  padding: .81rem 0 .98rem;
}
#default.prompt .success{
  margin-bottom: 0;
  width: 2.51rem;
  height: 1.54rem;
  background-image: url("../../images/membercenter/coupon/icon-coupon-prompt.png");
}
#default.prompt .failed{
  margin-bottom: 0;
  width: 1.87rem;
  height: 1.53rem;
  background-image: url("../../images/membercenter/coupon/icon-coupon-prompt-failed.png");
}
#default .default-top-text{
  padding: .3rem 0 .15rem;
  color: #999;
  font-size: .294rem;
  line-height: 1;
}
#default .default-bottom-text{
  padding-bottom: .2rem;
  color: #999;
  font-size: .2667rem;
  line-height: 1;
}
.go-home-link{
  display: inline-block;
  width: 2.19rem;
  line-height: .63rem;
  color: #008bd1;
  font-size: .2933rem;
  border-radius: .066rem;
  border: 2px solid #008bd1;
}
@media screen and (max-width: 719px) {
  .go-home-link {
    border-width: 1px;
  }
}